<div id="dialog">

    <div id="dialog-header">
        <h1 mat-dialog-title>{{ data.customer.customer.description }}</h1>
    </div>

    <ledger-customer-reservations [customerReservations]="data.customer.reservations"></ledger-customer-reservations>
    <ledger-customer-summary [portGroup]="data.customer.ports"></ledger-customer-summary>

    <div id="dialog-footer">
        <div class="button-group-right">
            <mat-dialog-actions>
                <button (click)="close()" class="primary" mat-flat-button>{{ getLabel('ok-button') }}</button>
            </mat-dialog-actions>
        </div>
    </div>

</div>