.day.has-schedule {
    transition: all var(--delay) !important;
}

.day.has-schedule:hover {
    cursor: pointer !important;
    transform: scaleY(1.03);
}

#goto-today-button {
    background-color: transparent !important;
    box-shadow: none;
}

#goto-today-button span {
    color: var(--color-background-today) !important;
}