<div id="wrapper">

    <div class="sidebar">
        <tables-menu></tables-menu>
        <logo></logo>
        <theme-selector></theme-selector>
        <language-menu></language-menu>
    </div>

    <div id="main">
        <div id="outer-content" [@routeAnimation]="o.isActivated?o.activatedRoute:''">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>

    <div class="sidebar">
        <search-byRefNo></search-byRefNo>
        <reservations-menu></reservations-menu>
        <!-- <tasks-menu></tasks-menu>
        <statistics-menu></statistics-menu> -->
        <parameters-menu></parameters-menu>
        <user-menu></user-menu>
        <logout></logout>
    </div>

    <div *ngIf="isLoading">
        <loading-spinner></loading-spinner>
    </div>

</div>
