<div id="wrapper">

    <div id="topbar">
        <language-menu></language-menu>
        <logo></logo>
        <!-- <search-byRefNo></search-byRefNo> -->
        <user-menu></user-menu>
    </div>

    <div id="center">
        <div id="leftbar">
            <theme-selector></theme-selector>
        </div>
        <div id="main">
            <div id="outer-content" [@routeAnimation]="o.isActivated?o.activatedRoute:''">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
        <div id="rightbar">
            <reservations-menu></reservations-menu>
            <tables-menu></tables-menu>
            <tasks-menu></tasks-menu>
            <parameters-menu></parameters-menu>
            <logout></logout>
        </div>
    </div>

</div>

<div *ngIf="isLoading">
    <loading-spinner></loading-spinner>
</div>
