#form {
    flex-direction: row !important;
}

.fit-content {
    height: fit-content;
}

.fieldset {
    background-color: transparent !important;
    width: 17rem;
}

.fieldset legend {
    background-color: transparent !important;
}

.selected {
    display: flex;
    align-items: center;
}

.selected-count {
    font-size: 0.6875rem;
}

.icon {
    font-size: 0.9375rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.125rem;
}

.fieldset .list .table-wrapper.p-datatable-table thead tr th {
    border: none !important;
}