fieldset {
    background-color: var(--color-a) !important;
    border-radius: 0;
    border: 0.0625rem solid var(--color-e);
    padding: 1rem 0.5rem 1rem 1rem;
    transition: all var(--theme-change-delay) ease-in;
}

fieldset legend {
    align-items: center;
    color: var(--color-c);
    display: flex;
    font-family: var(--font-family-asty);
    font-size: var(--font-size-fieldset-legend);
    font-weight: 300;
    justify-content: space-between;
    padding: 0.3125rem 0.625rem 0 0.625rem;
    transition: all var(--theme-change-delay) ease-in;
    width: 100%;
}