#content {
    border-radius: 1rem;
    border: 0.0625rem solid var(--color-e);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 4rem;
    width: 90%;
}

.styled-input-square {
    margin: auto auto 1rem 2.7rem;
}