.drop-down-menu-trigger {
    background-color: transparent !important;
    color: var(--color-text) !important;
}

#selected-year {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0.25rem 0 0 auto;
    transition: color var(--theme-delay) !important;
}
