.sub-menu {
    right: 0;
}

button.trigger {
    background-color: transparent;
    color: var(--color-c);
    margin-top: 0.35rem;
}

.sub-menu button {
    border-top: 1px solid var(--color-dropdown-menu-border);
    border-right: 1px solid var(--color-dropdown-menu-border);
    border-bottom: 0;
    border-left: 1px solid var(--color-dropdown-menu-border);
    color: var(--color-c);
}

.sub-menu button:first-child {
    border-top: 1px solid var(--color-dropdown-menu-border);
}

.sub-menu button:last-child {
    border-bottom: 1px solid var(--color-dropdown-menu-border);
}

#selected-year {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: auto;
    margin-right: 1rem;
    transform: scale(1.5, 1);
}