button.drop-down-menu-trigger {
    align-items: center;
    background-color: transparent !important;
    display: flex;
    padding: 0 !important;
}

#selected-year {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0.25rem 0 0 auto;
}