<div id="year-picker">
    <div class="drop-down-menu">
        <button class="drop-down-menu-trigger">
            <span id="selected-year">{{ year }}</span>
            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
        </button>
        <ul (click)="hideMenu()" class="sub-menu">
            <button *ngFor="let year of years" (click)="selectYear(year)">
                <img [src]="getIcon('availability')" style="height: 1.5625rem; width: 1.5625rem">
                <span>{{ year }}</span>
            </button>
        </ul>
    </div>
</div>
