<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Vat Percent -->
            <mat-form-field>
                <mat-label>{{ getLabel('vatPercent') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="vatPercent" matInput />
                <mat-error *ngIf="vatPercent.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Vat Category Id -->
            <mat-form-field>
                <mat-label>{{ getLabel('vatCategoryId') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="vatCategoryId" matInput>
                <mat-error *ngIf="vatCategoryId.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
