<div id="dialog">

    <div id="dialog-header">
        <h1>{{ getLabel('header') }}</h1>
        <h6>{{ getLabel('subHeader') }}</h6>
        <h6>{{ getLabel('actionMessage') }}</h6>
    </div>

    <div id="dialog-content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <mat-radio-group>
                <div *ngFor="let option of options" class="option">
                    <mat-radio-button [value]="option">
                        <label class="option-label" [for]="option.id">
                            <span>{{ getLabel('option' + option.id) }}</span>
                        </label>
                        <p class="option-message">{{ getLabel('option' + option.id + 'message') }}</p>
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </form>
    </div>

    <div id="dialog-footer">
        <div class="button-group-right">
            <mat-dialog-actions>
                <button (click)="save()" [disabled]="!form.valid" class="primary" mat-flat-button>
                    <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                    <span>{{ getLabel("okButton") }}</span>
                </button>
            </mat-dialog-actions>
        </div>
    </div>

</div>