.mat-mdc-dialog-container .mdc-dialog__title {
    line-height: 0 !important;
}

#dialog {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 2rem 2rem 1rem 2rem;
}

#dialog-header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 0;
    padding: 0;
}

#dialog-header h1 {
    color: var(--color-accent);
}

#dialog-header h6 {
    color: var(--color-text);
}

#dialog-content {
    height: 100%;
    padding: 1rem 0 0 0 !important;
    overflow-y: scroll;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-label {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 0.5rem;
}

.option-message {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.875rem;
    font-weight: 300;
    margin-left: 1.5rem;
}

#dialog-footer {
    margin-left: auto;
}