#dialog-header {
    margin-left: 0;
}

#dialog-content {
    height: 100%;
    margin: 1rem 0 !important;
}

#dialog-footer {
    margin-right: 0;
}

.option-message {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 0.8125rem;
    font-weight: 200;
    margin: 0.3rem 0 0.3rem 2.45rem;
}