<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off" id="form">
            <!-- Date -->
            <div class="group-field">
                <mat-form-field id="date">
                    <mat-label>{{ getLabel('date') }}</mat-label>
                    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                        <input class="center" formControlName="fromDate" matInput matStartDate>
                        <input class="center" formControlName="toDate" matEndDate matInput>
                    </mat-date-range-input>
                    <mat-date-range-picker #picker (closed)="patchFormWithSelectedDates(fromDate, toDate)"></mat-date-range-picker>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-error *ngIf="fromDate.hasError('required') || toDate.hasError('required')">{{ getHint("invalid") }}</mat-error>
                    <button (click)="gotoToday()" class="transparent" id="goto-today" mat-mini-fab tabindex="-1">
                        <mat-icon id="today">my_location</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="group-field">
                <!-- Destinations -->
                <fieldset class="fieldset">
                    <legend>
                        <span>{{ getLabel('destinations') }}</span>
                        <div class="selected">
                            <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.destinations.length }}</span>
                            <span class="icon">{{ getEmoji(form.value.destinations.length > 0 ? 'ok' : 'error') }}</span>
                        </div>
                    </legend>
                    <div class="filter">
                        <div class="styled-input-square">
                            <div class="styled-input-single">
                                <input (click)="toggleAllCheckboxes(form, 'destination', 'allDestinationsCheckbox')" formControlName="allDestinationsCheckbox" id="all-destinations" type="checkbox">
                                <label class="no-label" for="all-destinations"></label>
                            </div>
                        </div>
                        <div class="list-filter">
                            <input (keyup)="filterList($event, 'destinations')" formControlName="destinationsFilter" id="destinationsFilter" [placeholder]="getLabel('filterPlaceholder')">
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <div *ngFor="let destination of destinations" [attr.id]=destination.description>
                            <div class="styled-input-square">
                                <div class="styled-input-single" (change)="checkboxChange($event, 'allDestinationsCheckbox', 'destinations', destinations, destination.description)">
                                    <input [attr.id]="'destination' + destination.id" [checked]="lookup('destinations', destination.id)" [value]="destination.id" class="destination" formArrayName="destinations" type="checkbox">
                                    <label [attr.for]="'destination' + destination.id" [attr.id]="'destination-label' + destination.id">{{ destination.description | trimString:33 }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Ports -->
                <fieldset class="fieldset">
                    <legend>
                        <span>{{ getLabel('ports') }}</span>
                        <div class="selected">
                            <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.ports.length }}</span>
                            <span class="icon">{{ getEmoji(form.value.ports.length > 0 ? 'ok' : 'error') }}</span>
                        </div>
                    </legend>
                    <div class="filter">
                        <div class="styled-input-square">
                            <div class="styled-input-single">
                                <input (click)="toggleAllCheckboxes(form, 'port', 'allPortsCheckbox')" formControlName="allPortsCheckbox" id="all-ports" type="checkbox">
                                <label class="no-label" for="all-ports"></label>
                            </div>
                        </div>
                        <div class="list-filter">
                            <input (keyup)="filterList($event, 'ports')" formControlName="portsFilter" id="portsFilter" [placeholder]="getLabel('filterPlaceholder')">
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <div *ngFor="let port of ports" [attr.id]=port.description>
                            <div class="styled-input-square">
                                <div class="styled-input-single" (change)="checkboxChange($event, 'allPortsCheckbox', 'ports', ports, port.description)">
                                    <input [attr.id]="'port' + port.id" [checked]="lookup('ports', port.id)" [value]="port.id" class="port" formArrayName="ports" type="checkbox">
                                    <label [attr.for]="'port' + port.id" [attr.id]="'port-label' + port.id">{{ port.description | trimString:33 }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Ships -->
                <fieldset class="fieldset">
                    <legend>
                        <span>{{ getLabel('ships') }}</span>
                        <div class="selected">
                            <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.ships.length }}</span>
                            <span class="icon">{{ getEmoji(form.value.ships.length > 0 ? 'ok' : 'error') }}</span>
                        </div>
                    </legend>
                    <div class="filter">
                        <div class="styled-input-square">
                            <div class="styled-input-single">
                                <input (click)="toggleAllCheckboxes(form, 'ship', 'allShipsCheckbox')" formControlName="allShipsCheckbox" id="all-ships" type="checkbox">
                                <label class="no-label" for="all-ships"></label>
                            </div>
                        </div>
                        <div class="list-filter">
                            <input (keyup)="filterList($event, 'ships')" formControlName="shipsFilter" id="shipsFilter" [placeholder]="getLabel('filterPlaceholder')">
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <div *ngFor="let ship of ships" [attr.id]=ship.description>
                            <div class="styled-input-square">
                                <div class="styled-input-single" (change)="checkboxChange($event, 'allShipsCheckbox', 'ships', ships, ship.description)">
                                    <input [attr.id]="'ship' + ship.id" [checked]="lookup('ships', ship.id)" [value]="ship.id" class="ship" formArrayName="ships" type="checkbox">
                                    <label [attr.for]="'ship' + ship.id" [attr.id]="'ship-label' + ship.id">{{ ship.description | trimString:33 }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>

    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="doTasks()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="button-icon">lock</mat-icon>
                <span>{{ getLabel("searchButton") }}</span>
            </button>
        </div>
    </div>

</div>