<div id="criteria-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="form-wrapper">
            <form [formGroup]="form" autocomplete="off" id="form">
                <div class="group-field">
                    <fieldset id="date-fieldset">
                        <legend>
                            <button (click)="gotoToday()" class="transparent" id="goto-today-button" mat-mini-fab tabindex="-1">
                                <span class="material-icons-outlined">my_location</span>
                            </button>
                            <span>{{ getLabel('date') }}</span>
                        </legend>
                        <mat-form-field id="date">
                            <input (dateChange)="patchFormWithSelectedDate($event)" [matDatepicker]="picker" formControlName="date" matInput>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="date.hasError('required')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </fieldset>
                </div>
                <div class="group-field">
                    <criteria-fieldset-checkboxes (outputSelected)="patchFormWithSelectedArrays($event,'selectedDestinations')" [array]="destinations" [caption]="'destinations'" [feature]="feature" [selected]="selectedDestinations"></criteria-fieldset-checkboxes>
                    <criteria-fieldset-checkboxes (outputSelected)="patchFormWithSelectedArrays($event,'selectedPorts')" [array]="ports" [caption]="'ports'" [feature]="feature" [selected]="selectedPorts"></criteria-fieldset-checkboxes>
                    <criteria-fieldset-checkboxes (outputSelected)="patchFormWithSelectedArrays($event,'selectedShips')" [array]="ships" [caption]="'ships'" [feature]="feature" [selected]="selectedShips"></criteria-fieldset-checkboxes>
                </div>
            </form>
        </div>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="doTasks()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("searchButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>