<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div class="filter-pill">
                <div class="pill date">
                    <div class="description">{{ formatDateToLocale(criteriaPanels.fromDate, true, true) }} - {{ formatDateToLocale(criteriaPanels.toDate, true, true) }}</div>
                </div>
                <button (click)="expandAll()" class="accent prime-icon" mat-flat-button>
                    <mat-icon class="material-icons-outlined">keyboard_double_arrow_down</mat-icon>
                </button>
                <button (click)="collapseAll()" class="accent prime-icon" mat-flat-button>
                    <mat-icon class="material-icons-outlined">keyboard_double_arrow_up</mat-icon>
                </button>
            </div>
        </div>

        <div id="accordion-wrapper">
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let customer of records">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ customer.customer.description }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <ledger-customer-reservations [customer]="customer"></ledger-customer-reservations>
                        <ledger-customer-summary [portGroup]="customer.ports"></ledger-customer-summary>
                        <div class="button-right">
                            <button (click)="exportSelected(customer)" class="secondary" mat-flat-button>
                                <span>{{ getLabel("createPdfButton") | uppercase }}</span>
                            </button>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records [filteredRecordCount]="records.length" [recordCount]="records.length" [showFilteredCount]="false"></table-total-filtered-records>
        <div class="button-group-right">
            <button [disabled]="records.length==0" (click)="exportAll()" class="primary" mat-flat-button>
                <mat-icon *ngIf="records.length==0" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("createPdfButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>