:host {
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

#top {
    align-items: center;
    background-color: var(--color-x);
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-e);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    transition: all var(--theme-change-delay) ease-in;
}

#header {
    justify-content: center;
}

#content {
    justify-content: start;
}

#footer {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

#loading-indication, #loading-indication::before {
    background-color: var(--color-a);
    display: flex;
    height: 0.0625rem;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#loading-indication::before {
    background-color: var(--color-loader);
    content: "";
    animation: running-progress 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@media (width <= 430px) {
    #form-wrapper {
        padding: 1rem 1rem;
    }
    #header {
        margin: 0 !important;
    }
    #footer button {
        width: 12rem;
    }
}

@media (width >= 431px) {
    #form-wrapper {
        padding: 2rem 3rem;
    }
    #header {
        margin: 0 0 2rem 0 !important;
    }
    #footer button {
        width: 18rem;
    }
}