#login-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

#login-logo-text {
    align-items: center;
    color: var(--color-c) !important;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    text-align: center;
}

#login-logo-text #title-top {
    font-family: var(--font-family-asty);
    font-weight: 300;
    text-align: center;
}

#login-logo-text #title-middle {
    font-family: var(--font-family-logo);
    line-height: 3.25rem;
}

#login-logo-text #title-bottom {
    font-family: var(--font-family-asty);
    font-weight: 300;
    text-align: center;
}

@media (width <= 430px) {
    #login-logo {
        margin: 1rem auto;
    }
    #login-logo-image {
        width: 4rem;
    }
    #login-logo-text #title-top {
        font-size: 0.7rem;
    }
    #login-logo-text #title-middle {
        font-size: 2.1rem;
    }
    #login-logo-text #title-bottom {
        font-size: 0.7rem;
        margin-top: 0;
    }
    #content {
        flex-direction: column;
    }
}

@media (width >= 431px) {
    #login-logo {
        margin: 2rem auto;
    }
    #login-logo-image {
        width: 5rem;
    }
    #login-logo-text #title-top {
        font-size: 1rem;
    }
    #login-logo-text #title-middle {
        font-size: 3.5rem;
    }
    #login-logo-text #title-bottom {
        font-size: 0.9rem;
        margin-top: -0.125rem;
    }
    #content {
        flex-direction: row;
    }
}