:host {
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
}

#top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

#top #right {
    background-color: var(--color-x);
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-e);
    display: flex;
}

#header {
    justify-content: center;
    margin: 1rem 0 1rem 0 !important;
}

#content {
    justify-content: start;
    padding: 2rem;
}

#footer {
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 0 auto;
    padding: 0;
}

#footer button {
    width: 18rem;
}

#loading-indication, #loading-indication::before {
    background-color: var(--color-a);
    display: flex;
    height: 0.0625rem;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#loading-indication::before {
    background-color: var(--color-loader);
    content: "";
    animation: running-progress 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}