#connected-user div {
    align-items: center;
    color: var(--color-text);
    display: flex !important;
    flex-direction: column;
    row-gap: 1rem;
    transition: color var(--theme-delay);
}

#connected-user div:hover {
    cursor: pointer;
}
