<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        html {
            min-height: 100%;
            position: relative;
        }

        body {
            margin: 0;
        }

        #wrapper {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            width: max-content;
        }

        #header {
            align-items: center;
            background-color: #457b9d;
            border-radius: 1rem 1rem 0 0;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #logo {
            background-repeat: no-repeat !important;
            height: 23px;
            width: 116px;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #footer>span {
            text-align: center;
        }

        #content {
            background-color: #caf0f8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        table {
            background-color: #457b9d1f;
            border-radius: 1rem;
            padding-bottom: 1rem;
        }

        th {
            font-weight: 500;
        }

        #description {
            color: #000000;
            display: flex;
            flex-direction: column;
            margin: 0.5rem auto 0 auto;
        }

        #destination {
            font-size: 20px !important;
            margin: 0 auto;
        }

        #details {
            display: flex;
            justify-content: center;
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #details table {
            width: 80%;
        }

        .label, .field {
            text-align: left;
        }

        .label {
            padding-left: 1rem;
        }

        .field {
            padding-left: 0;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #footer>span {
            text-align: center;
        }

        #barcode {
            display: flex;
            height: 250px;
            margin: 1rem auto 0 auto;
            width: 250px;
        }

        #refNo {
            color: #000000;
            margin: 1rem auto 1rem auto;
        }

        .col-span {
            color: #000000;
            font-size: 1rem;
            line-height: 2rem;
            padding-bottom: 0.25rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo" style="[logo]"></div>
        </div>
        <div id="content">
            <div id="description">
                <span>Your reservation for</span>
                <span id="destination">✨ [destination]</span>
                <span>is confirmed and ready!</span>
            </div>
            <div id="details">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Pickup details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label">Date</td>
                            <td class="field">[date]</td>
                        </tr>
                        <tr>
                            <td class="label">Pickup point</td>
                            <td class="field">[pickupPoint]</td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td class="field">[exactPoint]</td>
                        </tr>
                        <tr>
                            <td class="label">Time</td>
                            <td class="field">[time]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <img id="barcode" style="[image]">
            <div id="refNo">
                <span>RefNo: [refNo]</span>
            </div>
        </div>
        <div id="footer">
            <span>Problems or questions? Please call<br />[phones]</span>
            <span>Don't reply to this email</span>
        </div>
    </div>
</body>

</html>