:host {
    width: 100% !important;
}

#form {
    display: flex;
    flex-direction: row;
}

.group-input-field {
    display: flex;
    gap: 0.5rem;
    overflow-y: initial;
}

.group-input-field.hide-hint {
    height: 3.5rem;
}
