<div class="card">
    <span class="header">
        <img [src]="getIcon(feature)" style="height: 1.5625rem; width: 1.5625rem">
        <span>{{ getLabel(feature) }}</span>
    </span>
    <div *ngFor="let item of array" class="content">
        <div class="text row">
            <span class="text">{{ item.description }}</span>
        </div>
        <div class="row pax">
            <span class="text">Pax</span>
            <span class="pax">{{ item.pax }}</span>
        </div>
        <div class="row actual-pax">
            <span class="text">Actual</span>
            <span class="actual-pax">{{ item.actualPax }}</span>
        </div>
        <div class="row no-show">
            <span class="text">N/S</span>
            <span class="no-show">{{ item.pax - item.actualPax }}</span>
        </div>
    </div>
</div>
