#grid-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    width: 20rem;
}

.header {
    display: flex;
    font-family: var(--font-family-asty);
    font-size: 28px;
    font-weight: 300;
    margin: 6px 0 1rem 1rem;
    transform: scale(1, 1.5);
}

.header span {
    margin: 0 0 0 0.5rem;
}

.content {
    background-color: antiquewhite;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 0.5rem 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ytd {
    background-color: #E9D5FF;
    width: 11rem;
}

#destinations {
    background-color: #9FF4F0;
    width: 18rem;
}

#ports {
    background-color: #ccf49f;
    width: 18rem;
}

.text {
    font-family: var(--font-family-fira-sans-condensed);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0.3rem;
}

.pax {
    font-family: var(--font-family-ubuntu);
    font-size: 18px;
    font-weight: 300;
}

.actual-pax {
    font-family: var(--font-family-ubuntu);
    font-size: 18px;
    font-weight: 300;
    margin: 0.2rem 0 0.2rem 0;
}

.no-show {
    font-family: var(--font-family-ubuntu);
    font-size: 18px;
    font-weight: 300;
}
