<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="grid-wrapper">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('ytd') }}</ng-template>
                    <table [array]="ytd"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('destinations') }}</ng-template>
                    <table [array]="destinations"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('customers') }}</ng-template>
                    <table [array]="customers"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('drivers') }}</ng-template>
                    <table [array]="drivers"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('ports') }}</ng-template>
                    <table [array]="ports"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('ships') }}</ng-template>
                    <table [array]="ships"></table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>{{ getLabel('nationalities') }}</ng-template>
                    <table-nationalities [array]="nationalities"></table-nationalities>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onClose()" class="primary" mat-flat-button>
                <span>{{ getLabel("okButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
