<p-table #table [scrollable]="true" [value]="array" dataKey="id" [scrollHeight]=getTableHeight() selectionMode="single" sortMode="multiple">
    <ng-template pTemplate="header">
        <tr>
            <th class="width-27" pSortableColumn="description">{{ getLabel('description') }}</th>
            <th class="width-3" pSortableColumn="pax">{{ getLabel('pax') }}</th>
            <th class="width-3" pSortableColumn="actual-pax">{{ getLabel('actual-pax') }}</th>
            <th class="width-3" pSortableColumn="no-show">{{ getLabel('no-show') }}</th>
        </tr>
        <tr>
            <th class="width-27"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
            <th class="width-3"></th>
            <th class="width-3"></th>
            <th class="width-3"></th>
        </tr>
    </ng-template>
    <ng-template let-record pTemplate="body">
        <tr *ngIf="record.description != 'TOTALS'" style="height: 32px;">
            <td class="width-27"><span>{{ record.description }}</span></td>
            <td class="width-3"><span class="right with-right-padding">{{ record.pax }}</span></td>
            <td class="width-3"><span class="right with-right-padding">{{ record.actualPax }}</span></td>
            <td class="width-3"><span class="right with-right-padding">{{ record.pax - record.actualPax}}</span></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr style="height: 32px;">
            <td class="width-27"><span>{{ array[array.length-1].description }}</span></td>
            <td class="right width-3"><span class="with-right-padding">{{ array[array.length-1].pax }}</span></td>
            <td class="right width-3"><span class="with-right-padding">{{ array[array.length-1].actualPax }}</span></td>
            <td class="right width-3"><span class="with-right-padding">{{ array[array.length-1].pax - array[array.length-1].actualPax}}</span></td>
        </tr>
    </ng-template>
</p-table>
