#content {
    border: none !important;
    padding: 0 0 0 0 !important;
}

#form {
    width: 100% !important;
}

.group-input-field {
    justify-content: space-between;
    width: 100% !important;
}

.group-input-field:last-child {
    margin-top: auto;
}

.group-input-field.hide-hint {
    height: 3.5rem;
}

.per-age-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.per-age-group .header {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-weight: 300;
}

.per-age-group .full-width {
    width: 100%;

}
