#logo {
    align-items: center;
    cursor: pointer;
    outline: 0;
}

#logo-image {
    color: #83b4ed !important;
    position: absolute;
    width: 3.5rem;
}

#logo-text {
    color: var(--color-c) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-text) !important;
    font-weight: var(--font-weight-logo);
    line-height: 2.25rem;
    margin: 0.125rem 0 0 4rem;
    transition: all var(--theme-change-delay) ease-in;
}

@media (width <= 430px) {
    #logo {
        display: none;
    }
}

@media (width >= 431px) {
    #logo {
        display: flex;
    }
}