#logo {
    align-items: center;
    cursor: pointer;
    outline: 0;
}

#logo-image {
    position: absolute;
    width: 3.5rem;
}

#logo-text {
    color: var(--color-c) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-text) !important;
    font-weight: var(--font-weight-logo);
    line-height: 2.25rem;
    margin-left: 4rem;
}

#title-top, #title-bottom {
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
}

#title-top {
    margin-bottom: -0.625rem;
}

#title-bottom {
    margin-top: -0.75rem;
}

@media (width < 800px) {
    #logo {
        display: none;
    }
}

@media (width >= 800px) {
    #logo {
        display: flex;
    }
}