#logo {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    outline: 0;
}

#logo:hover {
    cursor: pointer;
}

#logo-image {
    width: 3.5rem;
}

#logo-text {
    color: var(--color-text) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-text) !important;
    font-weight: var(--font-weight-logo);
    line-height: 2.25rem;
}

#title-top, #title-bottom {
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
}

#title-top {
    margin-bottom: -0.625rem;
}

#title-bottom {
    margin-top: -0.75rem;
}