* {
    --color-accent: #ffc107;
    --color-button-hover: #207167;
    --color-datepicker-calendar: #ffffff;
    --color-dropdown-button: #ffffff;
    --color-dropdown-trigger: #ffffff;
    --color-footer: #ffffff;
    --color-primary: #2A9D8F;
    --color-secondary: #38bdad;
    --color-table-headers: #000000;
    --color-text-mat-menu: #ffffff;
    --color-text-reverse: #ffffff;
}