<div class="drop-down-menu">
    <button class="drop-down-menu-trigger">
        <img (load)="loadImage()" [ngClass]="imageIsLoading()" src="/assets/images/themes/palettes/{{ getThemeThumbnail() }}.svg" style="height: 1.5625rem; width: 1.5625rem">
        <span class="material-icons-outlined">expand_more</span>
    </button>
    <ul (click)="onHideMenu()" class="sub-menu">
        <button class="hoverable" (click)="onChangeTheme('blood-orange','dark')"><img src="/assets/images/themes/palettes/blood-orange.svg" style="width: 25px"><span>Blood Orange</span></button>
        <button class="hoverable" (click)="onChangeTheme('cherry-pie','dark')"><img src="/assets/images/themes/palettes/cherry-pie.svg" style="width: 25px"><span>Cherry Pie</span></button>
        <button class="hoverable" (click)="onChangeTheme('chewing-gum','light')"><img src="/assets/images/themes/palettes/chewing-gum.svg" style="width: 25px"><span>Chewing Gum</span></button>
        <button class="hoverable" (click)="onChangeTheme('chocolate-cake','dark')"><img src="/assets/images/themes/palettes/chocolate-cake.svg" style="width: 25px"><span>Chocolate Cake</span></button>
        <button class="hoverable" (click)="onChangeTheme('deep-sea','dark')"><img src="/assets/images/themes/palettes/deep-sea.svg" style="width: 25px"><span>Deep Sea</span></button>
        <button class="hoverable" (click)="onChangeTheme('green-soap','light')"><img src="/assets/images/themes/palettes/green-soap.svg" style="width: 25px"><span>Green Soap</span></button>
        <button class="hoverable" (click)="onChangeTheme('icy-white','light')"><img src="/assets/images/themes/palettes/icy-white.svg" style="width: 25px"><span>Icy White</span></button>
        <button class="hoverable" (click)="onChangeTheme('minty-mojito','light')"><img src="/assets/images/themes/palettes/minty-mojito.svg" style="width: 25px"><span>Minty Mojito</span></button>
        <button class="hoverable" (click)="onChangeTheme('moonless-night','dark')"><img src="/assets/images/themes/palettes/moonless-night.svg" style="width: 25px"><span>Moonless Night</span></button>
        <button class="hoverable" (click)="onChangeTheme('sandy-beach','light')"><img src="/assets/images/themes/palettes/sandy-beach.svg" style="width: 25px"><span>Sandy Beach</span></button>
        <button class="hoverable" (click)="onChangeTheme('strawberry-cream','light')"><img src="/assets/images/themes/palettes/strawberry-cream.svg" style="width: 25px"><span>Strawberry Cream</span></button>
        <button class="hoverable" (click)="onChangeTheme('vintage-eighties','dark')"><img src="/assets/images/themes/palettes/vintage-eighties.svg" style="width: 25px"><span>Vintage Eighties</span></button>
    </ul>
</div>