<div class="drop-down-menu">
    <button class="drop-down-menu-trigger">
        <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getMenuTopIcon('palette')" style="height: 1.5625rem; width: 1.5625rem">
        <span class="material-icons-outlined">expand_more</span>
    </button>
    <ul (click)="onHideMenu()" class="sub-menu">
        <button class="hoverable" (click)="onChangeTheme('blue')"><img src="/assets/images/themes/palettes/blue.svg" style="width: 25px"><span>Blue</span></button>
        <button class="hoverable" (click)="onChangeTheme('aquamarine')"><img src="/assets/images/themes/palettes/aquamarine.svg" style="width: 25px"><span>Aquamarine</span></button>
        <button class="hoverable" (click)="onChangeTheme('orange')"><img src="/assets/images/themes/palettes/orange.svg" style="width: 25px"><span>Orange</span></button>
    </ul>
</div>