.mdc-button .mat-icon {
    margin: 0.125rem 0 0 0 !important;
}

.mdc-button .mdc-button__label {
    margin-top: 0.22rem !important;
    transform: scale(0.8, 1.4);
}

.mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: transparent !important;
}

button {
    align-items: center;
    border: none;
    box-shadow: none !important;
    cursor: default !important;
    display: flex !important;
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-button) !important;
    font-weight: 300 !important;
    justify-content: center;
    min-width: 0 !important;
    outline: 0 !important;
    padding: 0 1rem 0.125rem 1rem !important;
}

button.fab {
    height: 2.375rem !important;
    padding: 0 !important;
    transition: color var(--theme-delay) !important;
    width: 2.375rem !important;
}

button.fab-with-background {
    background-color: var(--color-accent);
}

button.fab-with-no-background {
    background-color: transparent;
}

button.delete {
    background-color: var(--color-button-delete) !important;
    color: var(--color-button-text) !important;
}

button.primary {
    background-color: var(--color-button-primary) !important;
    color: var(--color-button-text) !important;
}

button.secondary {
    background-color: var(--color-button-secondary) !important;
    color: var(--color-button-text) !important;
}

button.accent {
    background-color: var(--color-accent) !important;
}

button.tab {
    padding-bottom: 0.3125rem;
}

button.tab:first-child {
    margin-right: 1rem;
}

button.transparent {
    background-color: transparent !important;
    transition: all 0.25s !important;
}

button.transparent:hover {
    background-color: color-mix(in srgb, var(--color-secondary) var(--hover-transparency), transparent);
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}