.mat-expansion-panel {
    background-color: var(--color-table-headers);
    border-radius: 0 !important;
    border: 0.0625rem solid var(--color-primary) !important;
    box-shadow: 0 0 0 0 #000000 !important;
    margin-bottom: 0.05rem !important;
    /* transition: all var(--delay) !important; */
}

.mat-expansion-panel-header {
    background-color: var(--color-background) !important;
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 300;
    height: 2rem !important;
    padding: 0.125rem 1.5rem 0 1.5rem !important;
}

.mat-expansion-indicator::after {
    color: var(--color-accent-secondary);
    margin-top: -0.5625rem;
    transition: color var(--delay) !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background-color: var(--color-header-background-hover) !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: var(--color-accent-secondary);
    font-size: var(--font-size-mat-expansion-header);
    transition: color var(--delay) !important;
}

.mat-expansion-panel-body {
    background-color: var(--color-background) !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem !important;
    transition: background-color var(--delay) !important;
}

.mat-action-row {
    border-top-style: none !important;
    margin: 0 1rem 0 1rem;
    padding: 0 !important;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: var(--color-background) !important;
    height: 2rem !important;
    transition: background-color var(--delay) !important;
}