.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__background {
    top: 0 !important;
    left: 0 !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    transition: all var(--delay) !important;
}

.mat-mdc-checkbox .mdc-checkbox {
    padding: 0 !important;
}

.mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
    background-color: transparent !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked) ~ .mdc-checkbox__background {
    border-color: var(--color-primary) !important;
    transition: all var(--delay) !important;
}

.mat-mdc-checkbox label {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-weight: 300;
    margin-left: 0.5rem !important;
    transition: all var(--delay) !important;
}

.mdc-checkbox {
    width: 20px !important;
    height: 20px !important;
}

.mdc-checkbox__background {
    height: 20px !important;
    width: 20px !important;
}

.mdc-form-field {
    display: flex !important;
}