.mat-divider {
    background-color: var(--color-secondary);
    transition: all var(--delay);
    width: 100%;
}

.mat-divider-horizontal {
    margin: 0.6rem 0 0.6rem 0 !important;
}

.mat-divider.mat-divider-vertical {
    margin: 0.6rem 0 0 0 !important;
}