.mat-mdc-icon-button svg {
    color: var(--color-datepicker-color) !important;
    height: 1.125rem !important;
    margin-top: 0.3125rem;
    position: absolute;
    transition: color var(--delay) !important;
}