.mdc-checkbox__background {
    border-color: var(--color-primary) !important;
    border-radius: 0 !important;
    height: 1.5rem !important;
    left: 0 !important;
    top: 0 !important;
    width: 1.5rem !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    transition: all var(--delay) !important;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
    width: 1.25rem;
    height: 1.25rem;
}

.mat-mdc-checkbox label {
    align-items: center !important;
    color: var(--color-text);
    display: flex;
    font-family: var(--font-family-asty);
    font-weight: 300;
    margin-left: 0.5rem !important;
    transition: color var(--delay) !important;
}

.mat-mdc-checkbox label .mat-icon.small {
    align-items: center;
    display: flex;
    font-size: 1.0625rem;
    justify-content: center;
}

.mat-mdc-checkbox label span {
    margin-top: 0.125rem;
}

.mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
    background-color: transparent !important;
}

.mdc-form-field {
    display: flex !important;
}