.mat-card {
    align-items: flex-start;
    backdrop-filter: blur(--blur);
    background-color: color-mix(in srgb, var(--color-secondary) 15%, transparent);
    border-radius: 0.3125rem !important;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem 2rem 1rem !important;
    transition: all 0.25s !important;
    width: 17rem;
}

.mat-card:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
}

.mat-card-title {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0 0 0 0.5rem !important;
    transition: all var(--delay);
}

.mat-divider.mat-divider-inset {
    background-color: var(--color-secondary);
    margin: 0.6rem 0 0.6rem 0 !important;
    transition: all var(--delay);
}

.mat-card-subtitle {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-weight: 300;
    line-height: 1.25rem;
    margin: 0 0 0 0.5rem !important;
    transition: all var(--delay);
}

.mat-card img {
    margin: 0 0 1rem 1rem;
}