.mat-mdc-menu-content {
    background-color: var(--color-background);
}

.mdc-list-item__primary-text {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty) !important;
    font-size: 0.65rem !important;
    font-weight: 300 !important;
    transform: scale(1, 1.5) !important;
}

.mat-mdc-menu-item:hover {
    background-color: var(--color-secondary) !important;
}

.mat-mdc-menu-item:hover .mdc-list-item__primary-text {
    /* color: var(--color-text-reverse) !important; */
}