.mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--color-secondary) !important;
    font-family: var(--font-family-asty) !important;
    font-weight: 300 !important;
    padding: 1rem 1rem 1rem 1rem !important;
}

.tooltip-inside-input-field {
    color: var(--color-text);
    padding: 0 1rem 0 1rem !important;
    transition: color var(--theme-delay) !important;
}