input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
    background-clip: content-box;
    color: var(--color-text);
    cursor: text;
    font-family: var(--font-family-asty);
    font-size: var(--font-size-input);
    outline: none;
}

input.center {
    text-align: center;
}

input.right {
    text-align: right;
}

input.mat-input-element, textarea.mat-input-element {
    caret-color: var(--color-text);
    color: var(--color-text);
    margin: 0.6rem 0 0.2rem 0;
    transition: all var(--delay);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    box-shadow: 0 0 0 62.5rem var(--color-background) inset;
    -webkit-text-fill-color: var(--color-text);
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-text);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input::placeholder {
    color: var(--color-text);
    opacity: 0.35;
}

textarea {
    height: 6.25rem;
}

.mat-date-range-input {
    margin-top: 0;
}

.mat-date-range-input-separator {
    color: transparent;
}

.mat-form-field {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--color-border);
    line-height: 132%;
    margin-top: var(--form-field-margin);
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    transition: all var(--delay);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--color-text);
    transition: all var(--delay);
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: var(--color-text);
    transform: translateY(-1.375rem) scale(0.75);
}

.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    background-color: var(--color-text);
    transition: all var(--delay);
}

.mat-form-field-infix .mat-icon {
    margin-top: 0.6rem;
}

.mat-form-field-flex {
    align-items: center !important;
    display: flex;
}

.mat-form-field-infix > span.emoji {
    margin-top: -0.125rem;
}

.mat-form-field-infix {
    border-top: 1.25rem solid transparent;
    display: flex !important;
    font-family: var(--font-family-asty);
    font-weight: 300;
    padding: 0 !important;
}

.mat-form-field-label span {
    color: var(--color-text);
    transition: all var(--delay);
}

.mat-form-field-label-wrapper {
    top: -0.5rem;
}

.mat-form-field-prefix, .mat-form-field-suffix {
    margin: 21px -0.125rem 0 0;
}

.mat-form-field-subscript-wrapper {
    margin-top: 0.3125rem;
}

.mat-form-field-type-mat-date-range-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    font-size: unset;
}

.mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix button .mat-button-wrapper .mat-icon {
    color: var(--color-text);
    font-size: 1.125rem;
    margin-top: -0.0625rem;
    transition: all var(--delay);
}

.mat-form-field.list-filter .mat-form-field-infix {
    border-top: 0;
}

.mat-form-field.list-filter {
    backdrop-filter: blur(--blur);
    background-color: transparent;
    border: none;
    line-height: 0;
    margin-top: 0;
    padding: 0 1.5rem 0 1.5rem;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--color-text);
}

.mat-form-field.mat-form-field-invalid {
    border-color: var(--color-input-error);
}

.mat-hint, .mat-error {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-weight: 300;
    transition: all var(--delay);
}

.textarea .mat-form-field-wrapper {
    padding-bottom: 2rem;
}

.mat-datepicker-toggle-default-icon {
    display: flex;
    margin: 0 10px -1rem 2rem;
    width: 1rem !important;
}