.mat-mdc-icon-button svg {
    color: var(--color-datepicker-color) !important;
    height: 18px !important;
    margin-top: 5px;
    position: absolute;
    transition: color var(--delay) !important;
}