.mat-mdc-tab-group {
    width: 100%;
}

.mat-mdc-tab .mdc-tab__text-label {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty) !important;
    font-size: 12px;
    font-weight: 200;
    transform: scale(1, 1.5);
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--color-accent) !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: transparent !important;
}

.mat-mdc-tab-header-pagination-chevron {
    border-color: transparent !important;
}
