.mat-mdc-menu-content {
    background-color: var(--color-primary) !important;
}

.mat-mdc-menu-item-text {
    color: var(--color-text-mat-menu) !important;
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-dropdown-menu-button) !important;
    font-weight: 300 !important;
    letter-spacing: 0 !important;
    margin: 0.1875rem 0 0 0 !important;
}