.mat-card {
    align-items: flex-start;
    backdrop-filter: blur(0.25rem);
    background: transparent;
    border-radius: 0.3125rem !important;
    border: 0.0625rem solid var(--color-border);
    box-shadow: 0.1875rem 0.1875rem 0 0 rgb(var(--color-shadow) var(--color-shadow) var(--color-shadow) / var(--color-border-transparency)) !important;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem 2rem 1rem !important;
    transition: background-color var(--delay) ease-in !important;
    width: 18.75rem;
}

.mat-card:hover {
    background-color: var(--color-hover) !important;
    cursor: pointer;
}

.mat-card-title {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0 0 0 0.5rem !important;
}

.mat-divider.mat-divider-inset {
    background-color: var(--color-border);
    margin: 0.6rem 0 0.6rem 0 !important;
}

.mat-card-subtitle {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-weight: 300;
    line-height: 1.25rem;
    margin: 0 0 0 0.5rem !important;
}

.mat-card img {
    margin: 0 0 1rem 1rem;
}