.mat-button-toggle-group {
    border: none !important;
}

.mat-button-toggle {
    background-color: color-mix(in srgb, var(--color-button-secondary) 65%, transparent);
    border: none !important;
    color: var(--color-button-text);
    padding: 0.125rem 0.75rem 0 0.75rem !important;
    transition: background-color 0.2s !important;
}

.mat-button-toggle-label-content {
    line-height: 2.25rem !important;
}

.mat-button-toggle-checked {
    background-color: color-mix(in srgb, var(--color-button-secondary) 100%, transparent);
    color: var(--color-button-text) !important;
}