.mdc-menu-surface.mat-mdc-autocomplete-panel {
    background-color: var(--color-background) !important;
    border-radius: 0 !important;
}

.mat-mdc-option.mat-mdc-option-active {
    background-color: var(--color-secondary) !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    width: 100%;
}

.mat-mdc-option:hover {
    background-color: var(--color-secondary) !important;
}