:host {
    display: flex;
    justify-content: flex-end;
}

.honeycomb {
    outline: 0 !important;
}

.honeycomb > path {
    fill: var(--color-honeycomb) !important;
    outline: 0 !important;
    transition: fill var(--theme-delay) !important;
}

.clickable:hover {
    cursor: pointer;
}

.clickable:focus {
    outline: 0 !important;
}
