:host {
    display: flex;
    justify-content: center;
}

#main-footer {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-weight: 300;
    margin: 1rem auto 1rem auto;
    text-align: center;
    font-size: 0.80rem;
}

a:link, a:visited {
    color: var(--color-red);
    text-decoration: none;
}

a:link:hover {
    color: var(--color-red);
}