#form-wrapper {
    gap: 0 !important;
}

#header {
    justify-content: center !important;
}

#footer {
    display: flex;
    justify-content: center;
}

@media (width < 800px) {
    #columns {
        margin: 0.5rem;
    }
    #forgot-password {
        font-size: 0.65rem;
    }
}

@media (width >= 800px) {
    #columns {
        margin: 1rem;
    }
    #forgot-password {
        font-size: 0.8rem;
    }
}