<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off" id="form">
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('password')" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="1" formControlName="password" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon class="material-icons-outlined">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ getHint("minLength", password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ getHint("maxLength", password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input [errorStateMatcher]="confirmValidParentMatcher" [inputTabStop]="input" [placeholder]="getLabel('confirmPassword')" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="2" formControlName="confirmPassword" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon class="material-icons-outlined">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ getHint("passwordsNoMatch") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
        </form>

        <div id="footer">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>

    </div>

    <main-footer></main-footer>

    <div *ngIf="isLoading">
        <loading-spinner></loading-spinner>
    </div>

</div>