* {
    --color-accent: #ffc107;
    --color-button-hover: #437796;
    --color-datepicker-calendar: #ffffff;
    --color-dropdown-button: #ffffff;
    --color-dropdown-trigger: #ffffff;
    --color-footer: #ffffff;
    --color-primary: #5298C5;
    --color-secondary: #7BB7DD;
    --color-table-headers: #ffffff;
    --color-text-mat-menu: #ffffff;
    --color-text-reverse: #ffffff;
}