#form-wrapper {
    background-color: var(--color-background);
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 25rem;
}

#dialog-header {
    margin: 0 0 0 1.125rem;
}

#dialog-footer {
    margin: 2rem 1rem 0 auto;
}

#is-checked-in {
    padding: 0 1.5rem 0 1.5rem;
}