:host {
    display: flex;
}

#topmenu {
    align-items: center;
    background-color: var(--color-e);
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-e);
    display: flex;
    padding: 0;
}

@media (width < 800px) {
    :host {
        margin-left: 0;
    }
}

@media (width >= 800px) {
    :host {
        margin-left: auto;
    }
}