:host {
    display: flex;
}

#topmenu {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 0.3125rem;
    display: flex;
    padding: 5px 10px 5px 10px;
    transition: all var(--delay);
}