<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <ledger-criteria (outputSelected)="onDoSearchTasks($event)"></ledger-criteria>

        <mat-tab-group mat-stretch-tabs="false" (selectedIndexChange)="onSelectedTabChange()">
            <mat-tab label="Corfu Cruises">
                <div class="general-tab">
                    <div id="table-wrapper">
                        <ledgerShipOwnerTable [records]="shipOwnerRecordsA" [criteria]="criteria"></ledgerShipOwnerTable>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Pandis Family">
                <div class="general-tab">
                    <div id="table-wrapper">
                        <ledgerShipOwnerTable [records]="shipOwnerRecordsB" [criteria]="criteria"></ledgerShipOwnerTable>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Γενικά σύνολα">
                <div class="general-tab">
                    <div id="table-wrapper">
                        <ledgerShipOwnerTable [records]="shipOwnerTotal"></ledgerShipOwnerTable>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDoEmailTasks()" class="primary" mat-flat-button>{{ getLabel("printButton") | uppercase }}</button>
        </div>
    </div>

</div>