* {
    --color-accent: #84dcc6;
    --color-button-hover: #c54447;
    --color-datepicker-calendar: #ffffff;
    --color-dropdown-button: #ffffff;
    --color-dropdown-trigger: #ffffff;
    --color-footer: #ffffff;
    --color-primary: #FF686B;
    --color-secondary: #FF7679;
    --color-table-headers: #ffffff;
    --color-text-mat-menu: #ffffff;
    --color-text-reverse: #ffffff;
    --color-time-picker-clock: #000000;
}
