<div id="dialog">

    <span style="color: var(--color-text); font-size: 12px;">{{ form.value | json }} {{ form.valid }} </span>

    <div id="dialog-header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="header-buttons">
            <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="primary" xPosition="before">
                <ng-container *ngTemplateOutlet="actionsMenu"></ng-container>
            </mat-menu>
        </div>
    </div>

    <div id="dialog-content">
        <form [formGroup]="form" id="form">
            <div id="invoice-header">
                <!-- Date -->
                <date-picker (outputValue)="patchFormWithSelectedDate($event)" [dataTabIndex]="1" [isAdminOrNewRecord]=true [label]="getLabel('date')" [parentDate]="getDate()" [readOnly]=true [showHint]=false></date-picker>
                <!-- Document type abbreviation-->
                <mat-form-field>
                    <mat-label>{{ getLabel('documentTypeAbbreviation') }}</mat-label>
                    <input #inputAutoComplete #triggerDocumentType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="documentTypes" dataTabIndex="2" formControlName="documentType" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerDocumentType, 'documentType')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="documentType.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                    <mat-error *ngIf="!documentType.hasError('required') && documentType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Batch -->
                <mat-form-field>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('batch') }}</mat-label>
                    <input formControlName="batch" matInput readonly>
                </mat-form-field>
                <!-- No -->
                <mat-form-field>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('no') }}</mat-label>
                    <input [inputTabStop]="input" class="right" formControlName="invoiceNo" matInput type="number">
                </mat-form-field>
                <!-- Payment method -->
                <mat-form-field>
                    <mat-label>{{ getLabel('paymentMethod') }}</mat-label>
                    <input #inputAutoComplete #triggerPaymentMethod="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="paymentMethods" dataTabIndex="7" formControlName="paymentMethod" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerPaymentMethod, 'paymentMethod')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="paymentMethod.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!paymentMethod.hasError('required') && paymentMethod.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div id="ports">
                <div class="port" formGroupName="portA">
                    <!-- Port A -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('port') }}</mat-label>
                        <input formControlName="port_A_Description" matInput readonly>
                    </mat-form-field>
                    <!-- Adults -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("adults") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="hide-hint">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="9" formControlName="adults_A_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_A_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_WithTransfer.hasError('required') && adults_A_WithTransfer.hasError('min') || adults_A_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="10" formControlName="adults_A_PriceWithTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_A_PriceWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_PriceWithTransfer.hasError('required') && adults_A_PriceWithTransfer.hasError('min') || adults_A_PriceWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_A_AmountWithTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="adults_A_AmountWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_AmountWithTransfer.hasError('required') && adults_A_AmountWithTransfer.hasError('min') || adults_A_AmountWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="11" formControlName="adults_A_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_A_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_WithoutTransfer.hasError('required') && adults_A_WithoutTransfer.hasError('min') || adults_A_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="12" formControlName="adults_A_PriceWithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_A_PriceWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_PriceWithoutTransfer.hasError('required') && adults_A_PriceWithoutTransfer.hasError('min') || adults_A_PriceWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_A_AmountWithoutTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="adults_A_AmountWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_A_AmountWithoutTransfer.hasError('required') && adults_A_AmountWithoutTransfer.hasError('min') || adults_A_AmountWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Kids -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("kids") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="13" formControlName="kids_A_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_A_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_WithTransfer.hasError('required') && kids_A_WithTransfer.hasError('min') || kids_A_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="14" formControlName="kids_A_PriceWithTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_A_PriceWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_PriceWithTransfer.hasError('required') && kids_A_PriceWithTransfer.hasError('min') || kids_A_PriceWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_A_AmountWithTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="kids_A_AmountWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_AmountWithTransfer.hasError('required') && kids_A_AmountWithTransfer.hasError('min') || kids_A_AmountWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="15" formControlName="kids_A_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_A_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_WithoutTransfer.hasError('required') && kids_A_WithoutTransfer.hasError('min') || kids_A_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="16" formControlName="kids_A_PriceWithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_A_PriceWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_PriceWithoutTransfer.hasError('required') && kids_A_PriceWithoutTransfer.hasError('min') || kids_A_PriceWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_A_AmountWithoutTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="kids_A_AmountWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_A_AmountWithoutTransfer.hasError('required') && kids_A_AmountWithoutTransfer.hasError('min') || kids_A_AmountWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Free -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("free") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="17" formControlName="free_A_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="free_A_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!free_A_WithTransfer.hasError('required') && free_A_WithTransfer.hasError('min') || free_A_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <div style="width:100%"></div>
                                <div style="width:100%"></div>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="18" formControlName="free_A_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="free_A_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!free_A_WithoutTransfer.hasError('required') && free_A_WithoutTransfer.hasError('min') || free_A_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <div style="width:100%"></div>
                                <div style="width:100%"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Total -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("total") }}</div>
                        <div class="full-width">
                            <div class="group-input-field hide-hint">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_A_Persons" matInput type="number">
                                </mat-form-field>
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_A_Amount" matInput type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="port" formGroupName="portB">
                    <!-- Port B -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('port') }}</mat-label>
                        <input formControlName="port_B_Description" matInput readonly>
                    </mat-form-field>
                    <!-- Adults -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("adults") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="hide-hint">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="19" formControlName="adults_B_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_B_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_WithTransfer.hasError('required') && adults_B_WithTransfer.hasError('min') || adults_B_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="20" formControlName="adults_B_PriceWithTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_B_PriceWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_PriceWithTransfer.hasError('required') && adults_B_PriceWithTransfer.hasError('min') || adults_B_PriceWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_B_AmountWithTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="adults_B_AmountWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_AmountWithTransfer.hasError('required') && adults_B_AmountWithTransfer.hasError('min') || adults_B_AmountWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="21" formControlName="adults_B_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_B_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_WithoutTransfer.hasError('required') && adults_B_WithoutTransfer.hasError('min') || adults_B_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="22" formControlName="adults_B_PriceWithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="adults_B_PriceWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_PriceWithoutTransfer.hasError('required') && adults_B_PriceWithoutTransfer.hasError('min') || adults_B_PriceWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_B_AmountWithoutTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="adults_B_AmountWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!adults_B_AmountWithoutTransfer.hasError('required') && adults_B_AmountWithoutTransfer.hasError('min') || adults_B_AmountWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Kids -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("kids") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="23" formControlName="kids_B_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_B_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_WithTransfer.hasError('required') && kids_B_WithTransfer.hasError('min') || kids_B_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="24" formControlName="kids_B_PriceWithTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_B_PriceWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_PriceWithTransfer.hasError('required') && kids_B_PriceWithTransfer.hasError('min') || kids_B_PriceWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_B_AmountWithTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="kids_B_AmountWithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_AmountWithTransfer.hasError('required') && kids_B_AmountWithTransfer.hasError('min') || kids_B_AmountWithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="25" formControlName="kids_B_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_B_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_WithoutTransfer.hasError('required') && kids_B_WithoutTransfer.hasError('min') || kids_B_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="price">
                                    <mat-label>{{ getLabel('price') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="26" formControlName="kids_B_PriceWithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="kids_B_PriceWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_PriceWithoutTransfer.hasError('required') && kids_B_PriceWithoutTransfer.hasError('min') || kids_B_PriceWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_B_AmountWithoutTransfer" matInput type="number" readonly>
                                    <mat-error *ngIf="kids_B_AmountWithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!kids_B_AmountWithoutTransfer.hasError('required') && kids_B_AmountWithoutTransfer.hasError('min') || kids_B_AmountWithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Free -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("free") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="27" formControlName="free_B_WithTransfer" matInput type="number">
                                    <mat-error *ngIf="free_B_WithTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!free_B_WithTransfer.hasError('required') && free_B_WithTransfer.hasError('min') || free_B_WithTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <div style="width:100%"></div>
                                <div style="width:100%"></div>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input (blur)="onDoCalculations()" [inputTabStop]="input" class="right" dataTabIndex="28" formControlName="free_B_WithoutTransfer" matInput type="number">
                                    <mat-error *ngIf="free_B_WithoutTransfer.hasError('required')">{{ getHint("requiredShort") }}</mat-error>
                                    <mat-error *ngIf="!free_B_WithoutTransfer.hasError('required') && free_B_WithoutTransfer.hasError('min') || free_B_WithoutTransfer.hasError('max')">{{ getHint("invalidShort") }}</mat-error>
                                </mat-form-field>
                                <div style="width:100%"></div>
                                <div style="width:100%"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Total -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("total") }}</div>
                        <div class="full-width">
                            <div class="group-input-field hide-hint">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_B_Persons" matInput type="number">
                                </mat-form-field>
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_B_Amount" matInput type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="port-totals" formGroupName="portTotals">
                    <!-- Port Totals -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('total') }}</mat-label>
                        <input formControlName="port_Totals_Description" matInput readonly>
                    </mat-form-field>
                    <!-- Adults -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("adults") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input class="right" formControlName="adults_Total_WithTransfer" matInput type="number" readonly>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_TotalAmount_WithTransfer" matInput type="number" readonly>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input class="right" formControlName="adults_Total_WithoutTransfer" matInput type="number" readonly>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="adults_TotalAmount_WithoutTransfer" matInput type="number" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Kids -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("kids") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input class="right" formControlName="kids_Total_WithTransfer" matInput type="number" readonly>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_TotalAmount_WithTransfer" matInput type="number" readonly>
                                </mat-form-field>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input class="right" formControlName="kids_Total_WithoutTransfer" matInput type="number" readonly>
                                </mat-form-field>
                                <mat-form-field class="total">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="kids_TotalAmount_WithoutTransfer" matInput type="number" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Free -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("free") }}</div>
                        <div class="full-width">
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withTransfer') }}</mat-label>
                                    <input class="right" formControlName="free_Total_WithTransfer" matInput type="number">
                                </mat-form-field>
                                <div style="width:100%"></div>
                            </div>
                            <div class="group-input-field">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('withoutTransfer') }}</mat-label>
                                    <input class="right" formControlName="free_Total_WithoutTransfer" matInput type="number">
                                </mat-form-field>
                                <div style="width:100%"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Total -->
                    <div class="per-age-group">
                        <div class="header">{{ getLabel("total") }}</div>
                        <div class="full-width">
                            <div class="group-input-field hide-hint">
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_Persons" matInput type="number">
                                </mat-form-field>
                                <mat-form-field class="person">
                                    <mat-label>{{ getLabel('total') }}</mat-label>
                                    <input class="right" formControlName="total_Amount" matInput type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="dialog-footer">
        <div id="align-right">
            <button (click)="onClose()" class="transparent" mat-flat-button tabindex="-1">
                <span>{{ getLabel("cancelButton") | uppercase }}</span>
            </button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class=" material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #documentTypes="matAutocomplete" (optionSelected)="updateFieldsAfterDocumentTypeSelection($event.option.value)" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDocumentTypes | async" [value]="option">
        <div class="autocomplete-document-type">
            <span>{{ option.abbreviation }}</span>
            <span>{{ option.batch }}</span>
        </div>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #paymentMethods="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPaymentMethods | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #actionsMenu>
    <button (click)="onRetrievePrices()" mat-menu-item>
        <span>{{ getLabel('retrievePrices') }}</span>
    </button>
</ng-template>
