/* :host {
    margin: 0 0 auto 0;
} */

:host {
    margin-top: 0;
}

#button-wrapper {
    padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem !important;
}

#search-form-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 4rem !important;
}

#search-form-wrapper.is-visible {
    background-color: var(--color-background);
    border-radius: 0.5rem;
    border: 0.0625rem solid color-mix(in srgb, var(--color-primary) 50%, transparent);
    box-shadow: 0.125rem 0.125rem 0.3125rem #00000040;
    padding: 0.5rem;
}

#search-by-ref-no {
    margin-bottom: -4px;
}

#form {
    align-items: center;
    background-color: var(--color-background);
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
    left: 1rem;
    padding: 8px 8px 8px 8px;
    position: absolute;
    top: 4.5rem;
    border: 0.0625rem solid color-mix(in srgb, var(--color-primary) 50%, transparent);
    z-index: 1;
}

#icon {
    top: 11px;
}

.mat-icon {
    overflow: visible !important;
}

input::placeholder {
    color: var(--color-text) !important;
}
