<!-- <p>{{ array | json }}</p> -->
<!-- <p>{{ selected | json }}</p> -->
<fieldset class="fieldset">
    <legend>
        <span>{{ getLabel(caption) }}</span>
        <div class="selected">
            <span class="selected-count">{{ getLabel("selected") }}: {{ selected.length }}</span>
            <span class="icon">{{ getEmoji(selected.length > 0 ? 'green-circle' : 'red-circle') }}</span>
        </div>
    </legend>
    <div class="table-wrapper">
        <p-table #table (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event,'selected')" (onRowSelect)="onRowSelect($event,'selected')" (onRowUnselect)="onRowUnselect($event,'selected')" [(selection)]="selected" [scrollable]="true" [value]="array" [virtualScrollItemSize]="32" [virtualScroll]="true" datakey="id" scrollHeight="flex" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th class="no-border width-2"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th class="no-border width-5"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" [placeholder]="getLabel('filterPlaceholder')" class="p-inputtext"></th>
                </tr>
            </ng-template>
            <ng-template let-element pTemplate="body">
                <tr style="height:2rem">
                    <td class="center width-2"><p-tableCheckbox [value]="element"></p-tableCheckbox></td>
                    <td class="width-5">{{ element.description }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</fieldset>