#navigation {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 0;
}

#title {
    align-items: center;
    display: flex;
    line-height: 0;
}

#feature-icon {
    margin-right: 1rem;
    width: 3rem;
}