#navigation {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 0;
}

#title {
    align-items: center;
    color: var(--color-text);
    display: flex;
}

#feature-icon {
    margin-right: 1rem;
    width: 3rem;
}