<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" autocomplete="off" id="form">
            <!-- Closing time -->
            <mat-form-field>
                <mat-label>{{ getLabel('closingTime') }}</mat-label>
                <input [format]=24 [ngxMatTimepicker]="timePicker" formControlName="closingTime" matInput readonly />
                <div matSuffix style="display:flex">
                    <button (click)="timePicker.open()" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">watch_later</mat-icon>
                    </button>
                </div>
                <button #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('closingTimeTooltip') }}">?</button>
            </mat-form-field>
            <ngx-mat-timepicker #timePicker></ngx-mat-timepicker>
            <div class="align-bottom group-input-field hide-hint">
                <!-- User -->
                <mat-form-field>
                    <mat-label>{{ getLabel('user') }}</mat-label>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <input formControlName="user" matInput readonly>
                </mat-form-field>
                <!-- Last update -->
                <mat-form-field>
                    <mat-label>{{ getLabel('lastUpdate') }}</mat-label>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <input formControlName="lastUpdate" matInput readonly>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div id="footer">
        <div id="button-align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
