.fieldset {
    background-color: transparent !important;
    height: 100%;
    width: 17rem;
}

.fieldset legend {
    background-color: transparent !important;
}

.fieldset legend .selected {
    display: flex;
    align-items: center;
}


.fieldset legend .selected .icon {
    font-size: 0.9375rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.125rem;
}