<div *ngIf=isLoggedIn() id="search-form-wrapper">
    <form *ngIf="getFormVisibility()" [formGroup]="form" id="form">
        <mat-form-field class="hide-hint no-top-padding">
            <input id="search-by-ref-no" formControlName="searchByRefNo" [placeholder]="getLabel('placeholder')" matInput (keyup.enter)="onSearchByRefNo()">
        </mat-form-field>
    </form>
    <button [style.color]="getIconColor()" (click)="onToggleFormVisibility()" class="fab" id="icon" mat-icon-button>
        <mat-icon class="input-suffix material-icons-outlined">{{ getFormIcon() }}</mat-icon>
    </button>
</div>
