@model API.Features.Billing.Ledgers.EmailLedgerTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper" style="max-width: 600px;">
        <p>👋 Χαίρεται @Model.Displayname,</p>
        <div>Σας στέλνουμε την καρτέλα (ή καρτέλες) με την κίνηση του λογαριασμού σας.</div>
        <div>Αν έχετε ερωτήσεις ή διαφωνίες, μπορείτε να επικοινωνήσετε μαζί μας.</div>
        <p> </p>
        <div>Ευχαριστούμε για τη συνεργασία,</div>
        <div>Κερκυραϊκές Κρουαζιέρες</div>
        <div>Κάβος, Κέρκυρα</div>
        <div>Τηλέφωνα: 26620 61400, 26620 61004</div>
        <p></p>
        <div>🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
        <p> </p>
    </div>
</body>

</html>