@model API.Features.Billing.Ledgers.EmailLedgerTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper" style="max-width: 600px;">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Χαίρεται @Model.Displayname,</p>
        <div style="font-family: Tahoma; font-size: 13px;">Σας επισυνάπτουμε την καρτέλα με την κίνηση του λογαριασμού σας.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Αν έχετε ερωτήσεις ή διαφωνίες, μπορείτε να επικοινωνήσετε μαζί μας.</div>
        <p> </p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία,</div>
        <div style="font-family: Tahoma; font-size: 13px;">Κερκυραϊκές Κρουαζιέρες</div>
        <div style="font-family: Tahoma; font-size: 13px;">Κάβος, Κέρκυρα</div>
        <div style="font-family: Tahoma; font-size: 13px;">Τηλέφωνα: 26620 61400, 26620 61004</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
    </div>
</body>

</html>