@model API.Features.Billing.Receipts.EmailReceiptTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper" style="max-width: 600px;">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Χαίρεται @Model.Displayname,</p>
        <div style="font-family: Tahoma; font-size: 13px;">Εχουμε εκδόσει μία απόδειξη είσπραξης, την οποία επισυνάπτουμε.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Αν έχετε ερωτήσεις ή απορίες, μπορείτε να επικοινωνήσετε μαζί μας.</div>
        <p> </p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία,</div>
        <div style="font-family: Tahoma; font-size: 13px;">Κερκυραϊκές Κρουαζιέρες</div>
        <div style="font-family: Tahoma; font-size: 13px;">+30 26610 71150</div>
        <div style="font-family: Tahoma; font-size: 13px;">corfucruises.com@gmail.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">www.corfucruises.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">www.appcorfucruises.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
    </div>
</body>

</html>