@model string

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <p>Αγαπητέ πελάτη,</p>
    <p>Έχουμε εκδόσει ένα παραστατικό για εσάς, το οποίο βρίσκεται <a href="@Model">εδώ</a></p>
    <p>Αφού το εμφανίσετε, μπορείτε να το εκτυπώσετε ή να το αποθηκεύσετε για το αρχείο σας.</p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p>Με εκτίμηση,</p>
    <p>Η ομάδα της Corfu Cruises</p>
    <p>26610 71150</p>    
</body>

</html>