<div *ngIf=isAdmin()>
    <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
        <mat-icon class="material-icons-outlined">apps</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="primary">
        <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
    </mat-menu>
</div>

<ng-template #contextMenu>
    <button *ngFor="let item of menuItems" (click)="doNavigationTasks(item.id)" mat-menu-item>
        <span>{{ item.description }}</span>
    </button>
</ng-template>
