* {
    --color-primary: #e85d04;
    --color-secondary: #9d0208;
    --color-border: #9d0208;
    --color-text: #ffffff;
    --color-hover: #61817e;
    --color-input-error: #ff9a7b;
    --color-scrollbar-thumb: #7cabe1;
    --color-input-focus: #3fe9ff;
    --color-table-active: #a3e17c;
    --color-table-inactive: #9d0208;
    --color-table-delete-icon: #9d0208;
}