* {
    --color-primary: #e85d04;
    --color-secondary: #9d0208;
    --color-text: #ffffff;
    --color-dialog-header: #ffeb3b;
    --color-hover: #9b020873;
    --color-input-error: #F2EBBF;
    --color-input-focus: #F2EBBF;
    --color-scrollbar-thumb: #ffee5b;
    --color-calendar-period-scroller: #F2EBBF;
    --color-button-toggle: #F2EBBF;
    --color-ref-no: #F2EBBF;
    --color-checkbox: #74d3fa;
    --color-table-trash-icon: #ffee5b;
}