* {
    --color-primary: #d95f76;
    --color-secondary: #a63352;
    --color-text: #ffffff;
    --color-dialog-header: #74d3fa;
    --color-hover: #a332507d;
    --color-input-error: #c52bdf;
    --color-input-focus: #cf1b59;
    --color-scrollbar-thumb: #ffee5b;
    --color-calendar-period-scroller: #ffee5b;
    --color-button-toggle: #ffee5b;
    --color-ref-no: #ffee5b;
    --color-checkbox: #ffee5b;
    --color-table-trash-icon: #ffee5b;
}