* {
    --color-primary: #d95f76;
    --color-secondary: #a63352;
    --color-border: #a63352;
    --color-text: #ffffff;
    --color-hover: #61817e;
    --color-input-error: #ffb49d;
    --color-scrollbar-thumb: #7cabe1;
    --color-input-focus: #3fe9ff;
    --color-table-active: #a3e17c;
    --color-table-inactive: #9d0208;
    --color-table-delete-icon: #9d0208;
}