* {
    --color-primary: #f2ffdc;
    --color-secondary: #ffcfcc;
    --color-border: #ffcfcc;
    --color-text: #000000;
    --color-hover: #ffcfcc;
    --color-input-error: #e57b7b;
    --color-scrollbar-thumb: #d94040;    
    --color-input-focus: #2196f3;
    --color-table-active: #4caf50;
    --color-table-inactive: #f44336;
    --color-table-delete-icon: #ff7a7a;
}