* {
    /* Base */
    --color-primary: #FF686B;
    --color-secondary: #FF7679;
    --color-accent: #84dcc6;
    --color-background: #555555;
    /* Text */
    --color-text: #ffffff;
    --color-text-reverse: #ffffff;
    --color-border: #6d6d6d;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    /* Flags */
    --color-flag-border: #ffffff;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #c54447;
    --color-dropdown-trigger: #ffffff;
}