* {
    /* Base */
    --color-primary: #2A9D8F;
    --color-secondary: #3EB8A9;
    --color-accent: #FF9FB1;
    --color-background: #555555;
    /* Text */
    --color-text: #ffffff;
    --color-text-reverse: #ffffff;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    /* Flags */
    --color-flag-border: #ffffff;
    /* Top menu buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #207167;
    --color-dropdown-trigger: #ffffff;
}