* {
    /* Base */
    --color-background: #555555;
    /* Text */
    --color-text: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    /* Flags */
    --color-flag-border: #ffffff;
    /* Tables */
    --color-table-header-border: #555555;
    --color-table-body-background: #555555;
    --color-table-body-text: #ffffff;
}