* {
    /* Base */
    --color-primary: #C13E65;
    --color-secondary: #DE698C;
    --color-accent: #ffc107;
    --color-accent-secondary: #ffffff;
    --color-background: #555555;
    /* Text */
    --color-text: #ffffff;
    --color-text-reverse: #ffffff;
    --color-border: #6d6d6d;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-background-focus: #8d8d8d;
    --color-input-error: #ff7878;
    --color-input-focus: #ffffff;
    /* Dialogs */
    --color-dialog-header: #17608F;
    /* Flags */
    --color-flag-border: #ffffff;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #852c46;
    --color-dropdown-trigger: #ffffff;
    /* Mat-Expander */
    --color-header-background-hover: #757575;
}