* {
    /* Base */
    --color-background: #595959;
    /* Text */
    --color-text: #ffffff;
    --color-transparent-button: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    /* Flags */
    --color-flag-border: #ffffff;
}
