* {
    /* Base */
    --color-primary: #e9b76b;
    --color-secondary: #F1C27B;
    --color-accent: #F27777;
    --color-background: #555555;
    /* Text */
    --color-footer: #000000;
    --color-table-headers: #000000;
    --color-text-reverse: #ffffff;
    --color-text: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    /* Flags */
    --color-flag-border: #ffffff;
    /* Top menu buttons */
    --color-dropdown-button: #000000;
    --color-dropdown-button-hover: #ffd18a;
    --color-dropdown-trigger: #000000;
    /* Tables */
    --color-table-header-border: #555555;
    --color-table-body-background: #555555;
    --color-table-body-border: #e9b76b;
    --color-table-body-text: #ffffff;
}