* {
    /* Base */
    --color-primary: #17608F;
    --color-secondary: #3780AE;
    --color-background: #555555;
    --color-accent: #e45142;
    /* Text */
    --color-text: #ffffff;
    --color-text-reverse: #555555;
    --color-border: #6d6d6d;
    /* Input */
    --color-input-background: #636161;
    --color-input-background-focus: #8d8d8d;
    --color-input-error: #ff8a82;
    --color-input-focus: #ffffff;
    /* Misc */
    --color-dialog-header: #17608F;
}