* {
    --color-background-autofill: #646a70;
    --color-background-dialog: #6d888b;
    --color-border: #afafaf;
    --color-hover: #63726e;
    --color-input-error: #ff9a7b;
    --color-input-focus: #3fe9ff;
    --color-prime-checkbox: #f1e424;
    --color-shadow: #9f9f9f;
    --color-table-headers: #595e63;
    --color-table-selected-row: #9dbfbc;
    --color-text: #ffffff;
}