* {
    --color-accent: #ffc107;
    --color-dropdown-button-hover: #4b4b4b;
    --color-dropdown-button: #ffffff;
    --color-dropdown-trigger: #ffffff;
    --color-footer: #ffffff;
    --color-primary: #737373;
    --color-secondary: #8C8C8C;
    --color-table-body-border: #737373;
    --color-table-headers: #ffffff;
    --color-text-reverse: #ffffff;
}