* {
    --color-background-autofill: #f5f3f4;
    --color-background-dialog: #ffffff;
    --color-border: #d9d9d9;
    --color-content: #ffffff26;
    --color-hover: #d3e3df;
    --color-input-error: #e57b7b;
    --color-input-focus: #2196f3;
    --color-prime-checkbox: #00bcd4;
    --color-shadow: #bbbbbb;
    --color-table-headers: #fafafa;
    --color-table-selected-row: #e7e7e7;
    --color-text: #000000;
    --color-secondary: #afbe8f;
    --color-primary: #dde392;
}