* {
    --color-primary: #F5FABF;
    --color-secondary: #AFBE8F;
    --color-text: #000000;
    --color-dialog-header: #923131;
    --color-hover: #a332507d;
    --color-input-error: #000000;
    --color-input-focus: #000000;
    --color-scrollbar-thumb: #923131;
    --color-calendar-period-scroller: #923131;
    --color-button-toggle: #923131;
    --color-ref-no: #923131;
    --color-checkbox: #923131;
    --color-table-trash-icon: #923131;
    --color-passenger-list-icon: #923131;
    --dialog-input-transparency: 5%;
}