* {
    --color-primary: #dde392;
    --color-secondary: #afbe8f;
    --color-border: #afbe8f;
    --color-text: #000000;
    --color-hover: #d3e3df;
    --color-input-error: #e57b7b;
    --color-scrollbar-thumb: #ffeb3b;
    --color-input-focus: #673ab7;
    --color-table-active: #43a506;
    --color-table-inactive: #ff0b14;
    --color-table-delete-icon: #ff0b14;
}