* {
    --color-primary: #f5f3f4;
    --color-secondary: #e7e7e7;
    --color-text: #000000;
    --color-dialog-header: #00c9eb;
    --color-hover: #a332507d;
    --color-input-error: #FF00C7;
    --color-input-focus: #ffffff;
    --color-scrollbar-thumb: #cf6755;
    --color-calendar-period-scroller: #74d3fa;
    --color-button-toggle: #c3d4e7;
    --color-ref-no: #923131;
    --color-checkbox: #00c9eb;
    --color-table-trash-icon: #e45142;
    --color-passenger-list-icon: #e45142;
    --dialog-input-transparency: 5%;
}