* {
    /* Base */
    --color-primary: #D4D9B4;
    --color-secondary: #E7EBCD;
    --color-accent: #FF9FB1;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #000000;
    --color-border: #f1f1f1;
    --color-table-headers: #000000;
    --color-footer: #000000;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-background-focus: #E3E3E3;
    --color-input-error: #ff8a82;
    --color-input-focus: #000000;
    /* Dialogs */
    --color-dialog-header: #17608F;
    /* Flags */
    --color-flag-border: #000000;
    /* Buttons */
    --color-dropdown-button: #000000;
    --color-dropdown-button-hover: #b7bb99;
    --color-dropdown-trigger: #000000;
}