* {
    /* Base */
    --color-primary: #FF686B;
    --color-secondary: #FF7679;
    --color-accent: #84dcc6;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    --color-border: #f1f1f1;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-error: #ff8a82;
    /* Flags */
    --color-flag-border: #000000;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #c54447;
    --color-dropdown-trigger: #ffffff;
}