* {
    /* Base */
    --color-primary: #2A9D8F;
    --color-secondary: #3EB8A9;
    --color-accent: #D96B62;
    --color-accent-secondary: #efac42;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    --color-border: #f1f1f1;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-background-focus: #8d8d8d;
    --color-input-error: #ff8a82;
    --color-input-focus: #ffffff;
    /* Dialogs */
    --color-dialog-header: #17608F;
    /* Flags */
    --color-flag-border: #000000;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #207167;
    --color-dropdown-trigger: #ffffff;
    /* Mat-Expander */
    --color-header-background-hover: #f3f3f3;
}