* {
    /* Base */
    --color-primary: #737373;
    --color-secondary: #8C8C8C;
    --color-accent: #cddc39;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    --color-border: #f1f1f1;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-background-focus: #E3E3E3;
    --color-input-error: #ff8a82;
    --color-input-focus: #000000;
    /* Misc */
    --color-dialog-header: #17608F;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #4b4b4b;
    --color-dropdown-trigger: #ffffff;
}