* {
    /* Base */
    --color-primary: #2A9D8F;
    --color-secondary: #3EB8A9;
    --color-accent: #FF9FB1;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    --color-border: #f1f1f1;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #636161;
    --color-input-error: #ff8a82;
    /* Flags */
    --color-flag-border: #000000;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #207167;
    --color-dropdown-trigger: #ffffff;
}