* {
    /* Base */
    --color-primary: #C13E65;
    --color-secondary: #DE698C;
    --color-accent: #FF9FB1;
    --color-accent-secondary: #efac42;
    --color-background: #ffffff;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    --color-border: #f1f1f1;
    --color-table-headers: #ffffff;
    --color-footer: #ffffff;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-background-focus: #E3E3E3;
    --color-input-error: #ff8a82;
    --color-input-focus: #000000;
    /* Dialogs */
    --color-dialog-header: #17608F;
    /* Flags */
    --color-flag-border: #000000;
    /* Buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #852c46;
    --color-dropdown-trigger: #ffffff;
    /* Mat-Expander */
    --color-header-background-hover: #f3f3f3;
}