* {
    /* Base */
    --color-primary: #2A9D8F;
    --color-secondary: #80a59c;
    --color-background: #ffffff;
    --color-accent: #e45142;
    /* Text */
    --color-text: #000000;
    --color-text-reverse: #ffffff;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-background-focus: #E3E3E3;
    --color-input-error: #FEE1E1;
    --color-input-focus: #000000;
    /* Misc */
    --color-dialog-header: #17608F;
}