* {
    /* Base */
    --color-primary: #737373;
    --color-secondary: #8C8C8C;
    --color-accent: #ffc107;
    --color-accent-secondary: #7cabe1;
    --color-background: #ffffff;
    /* Text */
    --color-footer: #ffffff;
    --color-table-headers: #ffffff;
    --color-text-reverse: #ffffff;
    --color-text: #000000;
    /* Input */
    --color-input-background: #F9F9F9;
    --color-input-background-focus: #E3E3E3;
    --color-input-error: #ff8a82;
    --color-input-focus: #000000;
    --color-input-suffix: #ababab;
    /* Dialogs */
    --color-dialog-header: #17608F;
    /* Flags */
    --color-flag-border: #000000;
    /* Top menu buttons */
    --color-dropdown-button: #ffffff;
    --color-dropdown-button-hover: #4b4b4b;
    --color-dropdown-trigger: #ffffff;
    /* Mat-Expander */
    --color-header-background-hover: #f3f3f3;
    /* Tables */
    --color-table-header-background: #737373;
    --color-table-header-border: #ffffff;
    --color-table-header-text: #ffffff;
    --color-table-body-background: #ffffff;
    --color-table-body-border: #737373;
    --color-table-body-text: #000000;
}