* {
    --color-primary: #7F7F7F;
    --color-background: #343A40;
    --color-text: #ffffff;
    --color-dialog-header: #ffee5b;
    --color-hover: #9b020873;
    --color-input-error: #ffffff;
    --color-input-focus: #ffffff;
    --color-scrollbar-thumb: #ffee5b;
    --color-calendar-period-scroller: #ffee5b;
    --color-button-toggle: #ffee5b;
    --color-ref-no: #ffee5b;
    --color-checkbox: #ffee5b;
    --color-table-trash-icon: #ffee5b;
    --color-passenger-list-icon: #ffee5b;
    --dialog-input-transparency: 25%;
}