* {
    --color-accent: #ff4081;
    --color-dropdown-button-hover: #437796;
    --color-dropdown-button: #ffffff;
    --color-dropdown-trigger: #ffffff;
    --color-footer: #ffffff;
    --color-primary: #5298C5;
    --color-secondary: #7BB7DD;
    --color-table-body-border: #5298C5;
    --color-table-headers: #ffffff;
    --color-text-reverse: #ffffff;
}