* {
    /* Base */
    --color-primary: #F2774F;
    --color-secondary: #F68561;
    --color-background: #555555;
    --color-accent: #e45142;
    /* Text */
    --color-text: #ffffff;
    --color-text-reverse: #555555;
    /* Input */
    --color-input-background: #46494b;
    --color-input-background-focus: #52636F;
    --color-input-focus: #ffffff;
    --color-input-error: #000000;
    /* Misc */
    --color-dialog-header: #F99B7D;
    --color-hover: #F6856154;
}