* {
    --color-primary: #8CBEB2;
    --color-secondary: #5C4B51;
    --color-text: #FFFFFF;
    --color-dialog-header: #ffee5b;
    --color-hover: #5b4a504a;
    --color-input-error: #ffffff;
    --color-input-focus: #ffffff;
    --color-scrollbar-thumb: #ffee5b;
    --color-calendar-period-scroller: #ffee5b;
    --color-button-toggle: #ffee5b;
    --color-ref-no: #ffee5b;
    --color-checkbox: #ffee5b;
    --color-table-trash-icon: #ffee5b;
    --color-passenger-list-icon: #ffee5b;
    --dialog-input-transparency: 25%;
}