* {
    --color-primary: #8cbeb2;
    --color-secondary: #5c4b51;
    --color-border: #5c4b51;
    --color-text: #ffffff;
    --color-hover: #61817e;
    --color-input-error: #ff9a7b;
    --color-scrollbar-thumb: #5c4b51;
    --color-input-focus: #673ab7;
    --color-table-active: #43a506;
    --color-table-inactive: #ff0b14;
    --color-table-delete-icon: #ff0b14;
}