* {
    --color-primary: #D4942B;
    --color-secondary: #84094B;
    --color-text: #ffffff;
    --color-dialog-header: #F2EBBF;
    --color-hover: #9b020873;
    --color-input-error: #ffffff;
    --color-input-focus: #ffffff;
    --color-scrollbar-thumb: #F2EBBF;
    --color-calendar-period-scroller: #F2EBBF;
    --color-button-toggle: #F2EBBF;
    --color-ref-no: #F2EBBF;
    --color-checkbox: #F2EBBF;
    --color-table-trash-icon: #F2EBBF;
    --color-passenger-list-icon: #ffee5b;
    --dialog-input-transparency: 25%;
}