* {
    --color-accent: #84dcc6;
    --color-button-hover: #ffd18a;
    --color-datepicker-calendar: #000000;
    --color-dropdown-button: #000000;
    --color-dropdown-trigger: #000000;
    --color-footer: #000000;
    --color-primary: #E9B76B;
    --color-secondary: #F7D6A5;
    --color-table-headers: #000000;
    --color-text-mat-menu: #000000;
    --color-text-reverse: #ffffff;
    --color-time-picker-clock: #000000;
}
