<form [formGroup]="form" autocomplete="off">
    <fieldset id="date-range-fieldset">
        <legend>
            <button (click)="gotoToday()" class="transparent" id="goto-today-button" mat-mini-fab tabindex="-1">
                <span class="material-icons-outlined">my_location</span>
            </button>
            <span>{{ getLabel('dateRange') }}</span>
        </legend>
        <mat-form-field id="date-range-picker">
            <mat-date-range-input [rangePicker]="picker">
                <input class="center" formControlName="fromDate" matInput matStartDate (dateInput)="emitFormValues()">
                <input class="center" formControlName="toDate" matEndDate matInput (dateInput)="emitFormValues()">
            </mat-date-range-input>
            <mat-date-range-picker #picker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-date-range-picker>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-error *ngIf="fromDate.hasError('required') || toDate.hasError('required')">{{ getHint("invalid") }}</mat-error>
        </mat-form-field>
    </fieldset>
</form>