.no-decorations {
    background-color: transparent !important;
    border: none !important;
    margin-top: 0 !important;
    padding: 0 !important;
}

#nested {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

.full-height {
    align-items: center;
    display: flex;
    height: 100%;
    padding-bottom: 0;
}