:host {
    height: 100%;
}

#header {
    justify-content: space-between;
}

#header-buttons {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 1rem 0 0;
}

#tab-scroller {
    display: flex;
    gap: 0.5rem;
}

#reservation-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}

#passengers-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}

#table-wrapper {
    margin: 0;
}

.group-field:last-child {
    margin-top: auto;
}

#passenger-check-total-icon {
    margin: -0.125rem 0 0 0.5rem;
}

.hide-autocomplete {
    display: none;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

#ref-no, #total-pax {
    background-color: var(--color-input-background);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-asty);
    font-weight: 300;
    height: 60px;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: all var(--delay) !important;

}

#ref-no #ref-no-label {
    color: var(--color-text);
    font-size: 0.80rem;
    text-align: center;
    transition: color var(--delay) !important;
}

#ref-no #ref-no-body {
    color: var(--color-accent);
    font-size: 1.5rem;
    margin-top: 0.875rem;
    transform: scale(0.8, 2.5);
}

#total-pax-emoji {
    margin: 0.25rem 0 0 0.5rem;
}

.mat-menu-item span {
    color: var(--color-text);
    font-size: 0.75rem !important;
}

#voucher-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 1rem 1rem 0 0;
}

.date-picker-in-input-field {
    display: flex;
    margin: -3px 10px -1rem 2rem;
    width: 1rem !important;
}