#top-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--gap) 4rem 1rem 4rem;
}

@media (width <= 430px) {
    #top-bar {
        flex-direction: column-reverse;
    }
}

@media (width >= 431px) {
    #top-bar {
        flex-direction: row;
    }
}