#top-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    width: 1152px;
}

#left {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
