<div id="form-wrapper">

    <div id="content">

        <span style="color: var(--color-text); font-size: 12px;">{{ form.value | json }}</span>

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-buttons">
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="onShowInvoiceTab()" checked class="primary">{{ getLabel("toggleButtonGeneral") | uppercase }}</mat-button-toggle>
                    <mat-button-toggle (click)="onShowPortsTab()">{{ getLabel("toggleButtonAnalysis") | uppercase }}</mat-button-toggle>
                </mat-button-toggle-group>
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary">
                    <ng-container *ngTemplateOutlet="actionsMenu"></ng-container>
                </mat-menu>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <div *ngIf="isInvoiceTabVisible" id="reservation-tab">
                <div class="group-input-field">
                    <!-- Date -->
                    <date-picker (outputValue)="patchFormWithSelectedDate($event)" [dataTabIndex]="1" [isAdminOrNewRecord]=true [label]="getLabel('date')" [parentDate]="getDate()" [readOnly]=false [showHint]=false></date-picker>
                    <div class="group-input-field" style="width: 247%;">
                        <!-- Document type -->
                        <mat-form-field style="width: 309% !important;">
                            <mat-label>{{ getLabel('documentType') }}</mat-label>
                            <input #inputAutoComplete #triggerDocumentType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="documentTypes" dataTabIndex="2" formControlName="documentType" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerDocumentType, 'documentType')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="documentType.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!documentType.hasError('required') && documentType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                        <!-- No -->
                        <mat-form-field style="width: 213%;">
                            <mat-icon class="material-icons-outlined small">lock</mat-icon>
                            <mat-label>{{ getLabel('no') }}</mat-label>
                            <input [inputTabStop]="input" class="right" formControlName="no" matInput type="number">
                        </mat-form-field>
                    </div>
                </div>
                <!-- Payment method -->
                <mat-form-field>
                    <mat-label>{{ getLabel('paymentMethod') }}</mat-label>
                    <input #inputAutoComplete #triggerPaymentMethod="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="paymentMethods" dataTabIndex="3" formControlName="paymentMethod" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerPaymentMethod, 'paymentMethod')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="paymentMethod.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!paymentMethod.hasError('required') && paymentMethod.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Customer -->
                <mat-form-field>
                    <mat-label>{{ getLabel('customer') }}</mat-label>
                    <input #inputAutoComplete #triggerCustomer="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" dataTabIndex="4" formControlName="customer" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerCustomer, 'customer')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Destination -->
                <mat-form-field>
                    <mat-label>{{ getLabel('destination') }}</mat-label>
                    <input #inputAutoComplete #triggerDestination="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="destinations" dataTabIndex="5" formControlName="destination" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerDestination, 'destination')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="destination.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!destination.hasError('required') && destination.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Ship -->
                <mat-form-field>
                    <mat-label>{{ getLabel('ship') }}</mat-label>
                    <input #inputAutoComplete #triggerShip="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ships" dataTabIndex="6" formControlName="ship" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerShip, 'ship')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="ship.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <div class="group-input-field">
                    <!-- Net Amount -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('netAmount') }}</mat-label>
                        <input class="right" formControlName="netAmount" matInput type="number">
                        <mat-error *ngIf="netAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!netAmount.hasError('required') && netAmount.hasError('min') || netAmount.hasError('max')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <!-- Vat Percent -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('vatPercent') }}</mat-label>
                        <input class="right" formControlName="vatPercent" matInput type="number">
                    </mat-form-field>
                    <!-- Vat Amount -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('vatAmount') }}</mat-label>
                        <input class="right" formControlName="vatAmount" matInput type="number">
                    </mat-form-field>
                    <!-- Gross Amount -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('grossAmount') }}</mat-label>
                        <input [inputTabStop]="input" class="right" dataTabIndex="7" formControlName="grossAmount" matInput type="number">
                        <mat-error *ngIf="grossAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!grossAmount.hasError('required') && grossAmount.hasError('min') || grossAmount.hasError('max')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Remarks -->
                <mat-form-field>
                    <mat-label>{{ getLabel("remarks") }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="8" formControlName="remarks" matInput>
                </mat-form-field>
                <div class="align-bottom">
                    <!-- Metadata -->
                    <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
                </div>
            </div>
            <div *ngIf="isPortsTabVisible" id="ports-tab">
                <invoice-port-form [port]="form.value.invoicesPorts[0]" (outputPort)="updateInvoice($event,0)"></invoice-port-form>
                <invoice-port-form [port]="form.value.invoicesPorts[1]" (outputPort)="updateInvoice($event,1)"></invoice-port-form>
                <invoice-port-totals-form [ports]="form.value.invoicesPorts"></invoice-port-totals-form>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button *ngIf="form.value.reservationId != ''" (click)="onDelete()" class="delete" mat-flat-button>
                <span>{{ getLabel('deleteButton') | uppercase }}</span>
            </button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.abbreviation }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #documentTypes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDocumentTypes | async" [value]="option">
        <div class="autocomplete-document-type">
            <span>{{ option.abbreviation }}</span>
            <!-- <span>{{ option.batch }}</span> -->
            <!-- <span>{{ option.description }}</span> -->
        </div>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #paymentMethods="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPaymentMethods | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #destinations="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #actionsMenu xPosition="before">
    <button (click)="onDoNothing()" mat-menu-item>
        <span>{{ getLabel('printInvoice') }}</span>
    </button>
    <button (click)="onDoNothing()" mat-menu-item>
        <span>{{ getLabel('emailInvoice') }}</span>
    </button>
    <button (click)="onBuildXMLModel()" mat-menu-item>
        <span>{{ getLabel('submitInvoice') }}</span>
    </button>
    <button (click)="onDoNothing()" mat-menu-item>
        <span>{{ getLabel('cancelInvoice') }}</span>
    </button>
</ng-template>
