<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Username -->
            <mat-form-field>
                <mat-label>{{ getLabel('username') }}</mat-label>
                <input [inputTabStop]="input" class="invisible" dataTabIndex="1" formControlName="username" matInput>
                <span #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('usernameTooltip') }}">?</span>
                <mat-error *ngIf="username.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="username.hasError('maxlength')">{{ getHint("maxLength", username.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!username.hasError('maxlength') && username.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
            </mat-form-field>
            <!-- Display name -->
            <mat-form-field>
                <mat-label>{{ getLabel('displayname') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="displayname" matInput>
                <span #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('closingTimeTooltip') }}">?</span>
                <mat-error *ngIf="displayname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="displayname.hasError('maxlength')">{{ getHint("maxLength", displayname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Customer -->
            <mat-form-field>
                <mat-label>{{ getLabel('customer') }}</mat-label>
                <input #inputAutoComplete #trigger="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" dataTabIndex="3" formControlName="customer" matInput>
                <span #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('closingTimeTooltip') }}">?</span>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(trigger, 'customer')" mat-icon-button type="button">
                        <mat-icon class="material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <input [inputTabStop]="input" class="invisible" dataTabIndex="4" formControlName="email" matInput>
                <span #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('closingTimeTooltip') }}">?</span>
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('required') && !email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <!-- Password -->
                <mat-form-field>
                    <mat-label>{{ getLabel('password') }}</mat-label>
                    <input [inputTabStop]="input" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="5" formControlName="password" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <span #tooltip="matTooltip" class="tooltip-inside-input-field transparent" matTooltip="{{ getLabel('closingTimeTooltip') }}">?</span>
                    <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ getHint("minLength", password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ getHint("maxLength", password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Confirm password -->
                <mat-form-field>
                    <mat-label>{{ getLabel('confirmPassword') }}</mat-label>
                    <input [errorStateMatcher]="confirmValidParentMatcher" [inputTabStop]="input" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="6" formControlName="confirmPassword" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword.hasError('required') && !matchingPasswords">{{ getHint("passwordsNoMatch") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword.hasError('required') && matchingPasswords">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Focus on first field -->
            <div class="checkbox-with-tooltip">
                <mat-checkbox formControlName="isFirstFieldFocused">
                    <span>{{ getLabel("isFirstFieldFocused") }}</span>
                </mat-checkbox>
                <span #tooltip="matTooltip" matTooltip="{{ getLabel('isFirstFieldFocusedTooltip') }}">?</span>
            </div>
            <div class="align-bottom checkboxes">
                <!-- Admin -->
                <mat-checkbox formControlName="isAdmin">
                    <span>{{ getLabel("isAdmin") }}</span>
                </mat-checkbox>
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="button-align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>