.mat-expansion-panel {
    background-color: var(--color-a);
}

.mat-expansion-panel-header {
    background-color: var(--color-a);
    font-family: var(--font-family-asty);
    font-size: 14px;
    font-weight: 300;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: var(--color-c);
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background-color: var(--color-a) !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: var(--color-c);
}

.mat-expansion-panel-body {
    padding: 0 1rem 1rem 1rem !important;
}

.mat-form-field {
    border: none !important;
}

.mat-action-row {
    border-top-style: none !important;
    margin: 0 1rem 0 1rem;
    padding: 0 !important;
}

.mat-action-row .mat-button {
    color: var(--color-c);
}