@import url("https://fonts.cdnfonts.com/css/asty-cf-std");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import url("common-colors.css");

@import url("accordion.css");
@import url("autocomplete.css");
@import url("buttons.css");
@import url("card.css");
@import url("checkbox.css");
@import url("date-picker.css");
@import url("dialogs.css");
@import url("fieldset-criteria.css");
@import url("fieldset.css");
@import url("filter-pill.css");
@import url("headers.css");
@import url("input-error.css");
@import url("input-focused-not-error.css");
@import url("input-not-focused-not-error.css");
@import url("input.css");
@import url("loader.css");
@import url("menu.css");
@import url("prime-button.css");
@import url("prime-checkbox.css");
@import url("prime-fieldset.css");
@import url("prime-input.css");
@import url("prime-table-filters.css");
@import url("prime-table.css");
@import url("radio.css");
@import url("select.css");
@import url("skeleton.css");
@import url("stepper.css");
@import url("table-wrapper.css");
@import url("tabs.css");
@import url("variables-narrow.css");
@import url("variables-wide.css");
@import url("variables.css");

@font-face {
    font-family: Aka-Acid-CanterBold;
    src: url("/assets/fonts/ACCanterBold.ttf");
}

* {
    box-sizing: border-box !important;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    min-height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.center-buttons {
    margin: 0 auto;
}

.hidden {
    visibility: hidden !important;
}

.no-display {
    display: none !important;
}

.pi {
    margin-top: 0;
}

.subscript {
    font-size: 0.5rem;
}

.clickable:hover {
    cursor: pointer;
}

.emoji-with-text {
    margin-left: 0.3rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.green {
    color: var(--color-green) !important;
}

.red {
    color: var(--color-red) !important;
}

.yellow {
    color: var(--color-yellow) !important;
}

.blue {
    color: var(--color-blue) !important;
}

.disabled:hover {
    cursor: no-drop;
    pointer-events: all;
}

::-webkit-scrollbar {
    height: 0;
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--color-scrollbar-thumb);
    border-radius: 0;
    border-left: 0 solid rgb(0 0 0 /0%);
    min-height: 5rem;
}