#form {
    flex-direction: row !important;
}

.fit-content {
    height: fit-content;
}

.fieldset {
    backdrop-filter: blur(0.25rem);
    background-color: transparent !important;
    height: 100%;
    width: 15rem;
}

.fieldset legend {
    background-color: transparent !important;
}

.list-filter input {
    background-color: transparent;
    border-bottom: 1px solid var(--color-c);
    border: none;
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-weight: 300;
    margin-top: 0.4375rem;
    outline: none;
    padding-bottom: 0.125rem;
    width: 10rem;
}

.list-filter input:focus-visible {
    border-bottom: 1px solid var(--color-input-focus);
}

.filter {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.list-wrapper {
    height: 81%;
    overflow-y: scroll;
    width: 13.5rem;
}

.selected {
    display: flex;
    align-items: center;
}

.selected-count {
    font-size: 0.6875rem;
}

.icon {
    font-size: 0.9375rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.125rem;
}