:host {
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    margin: 0 2rem 2rem 0 !important;
}

#header #navigation {
    align-items: center;
    display: flex;
}

#header #title {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}

#content form {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
}

#footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: auto;
    padding: 1rem 4rem 1rem 4rem;
}

.group-field {
    display: flex;
    gap: 1rem;
}

@media (width <= 430px) {
    #content {
        width: fit-content;
    }
}

@media (width >= 431px) {
    #content {
        width: 80%;
    }
}