:host {
    width: 100%;
}

#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 1rem 4rem !important;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

#table-wrapper {
    width: 100%;
}

#footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: auto;
    padding: var(--gap) 4rem;
}

@media (width <= 1919px) {
    #table-wrapper {
        margin: 0 1.6rem 0 2rem;
    }
}

@media (width >= 1920px) {
    #table-wrapper {
        margin: 0 2rem 0 2.3rem;
    }
}