.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: var(--color-accent);
    height: 1rem;
    width: 1rem;
}

.p-radiobutton .p-radiobutton-box {
    background-color: transparent;
    border: 0.125rem solid #ced4da !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: transparent;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: none;
}

.p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: none;
}

.p-radiobutton:not(.p-radiobutton-disabled):hover {
    box-shadow: none;
}