.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: var(--color-text);
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: transparent !important;
}

.p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: none !important;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: none;
}

.p-radiobutton:not(.p-radiobutton-disabled):hover {
    box-shadow: none;
}

.p-radiobutton .p-radiobutton-box {
    background-color: transparent;
    border: 0.0625rem solid var(--color-text) !important;
}