.p-dropdown .p-dropdown-trigger:hover {
    border-radius: 0;
}

.p-dropdown {
    background-color: transparent;
}

.p-dropdown-panel .p-dropdown-items {
    padding: 0;
    text-align: left;
}

.p-dropdown:not(.p-disabled).p-focus {
    border-color: transparent;
    box-shadow: none;
}

.p-fluid .p-multiselect {
    background-color: transparent;
    border: none;
}

.p-multiselect .p-multiselect-label {
    font-size: 0.6875rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: none;
}

.p-fluid .p-dropdown .p-dropdown-label {
    font-family: var(--font-family-asty);
    margin-bottom: 0;
    padding: 0.3125rem 0.375rem 0.1875rem 0.375rem !important;
    text-align: left;
    width: 10rem !important;
}

.p-multiselect-panel {
    background-color: var(--color-secondary);
    padding: 0.5rem 0.5rem 0.5rem 0 !important;
}

.p-multiselect-panel .p-multiselect-items {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.p-multiselect-panel .p-multiselect-header {
    display: none;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight, .p-multiselect-panel .p-multiselect-items .p-multiselect-item, .p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover {
    background-color: var(--color-secondary) !important;
    box-shadow: none !important;
    color: var(--color-table-headers) !important;
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-size: var(--font-size-table-row);
    font-weight: 300;
    padding: 0.375rem 0 0.375rem 0.375rem;
}

.p-multiselect-item > .p-checkbox > .p-checkbox-box {
    border-color: var(--color-table-headers);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover {
    background-color: color-mix(in srgb, var(--color-primary) var(--hover-transparency), transparent) !important;
}

.p-multiselect-option {
    margin-top: 3px;
}

.p-multiselect-option span {
    margin-left: 0.3rem;
}

.p-fluid .p-dropdown {
    border: none;
}

.p-column-filter-menu-button, .p-column-filter-clear-button {
    color: var(--color-table-headers);
    font-family: var(--font-family-roboto) !important;
    font-size: 0.75rem !important;
    line-height: 0;
    margin-left: -22px !important;
    margin-top: -42px;
    position: absolute !important;
}

.p-column-filter-menu-button, .p-column-filter-clear-button .p-icon-wrapper svg {
    display: none !important;
}

.p-column-filter-clear-button:hover {
    background-color: transparent;
    color: var(--color-table-headers);
}

.p-column-filter-menu-button, .p-column-filter-clear-button::after {
    color: var(--color-accent);
    content: "âŒ";
    padding: 0 0 0 14px;
}

.p-multiselect .p-multiselect-trigger {
    color: var(--color-table-headers) !important;
    justify-content: flex-end;
    width: 1.1rem;
    transition: color var(--theme-delay);
}

.p-sortable-column:focus {
    box-shadow: none !important;
    outline: none;
}

.pi-chevron-down {
    padding-top: 0.4375rem;
}

.mat-datepicker-toggle-default-icon {
    display: flex;
    width: 1rem !important;
}

.p-datatable .p-datatable-thead > tr > th > .date-picker-wrapper > .mat-datepicker-toggle > .mat-mdc-icon-button > svg {
    color: var(--color-table-header-text);
    transition: color var(--theme-delay) !important;
}

.mat-datepicker-toggle {
    height: 20px !important;
}

.date-picker-wrapper > .mat-datepicker-toggle > .mdc-icon-button {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.date-picker-wrapper {
    display: flex;
    flex-direction: row;
}
