#logo {
    align-items: center;
    cursor: pointer;
    outline: 0;
    display: flex;
}

#logo:hover {
    cursor: pointer;
}

#logo-image {
    width: 59px;
}

#logo-text {
    color: var(--color-c) !important;
    font-family: var(--font-family-logo);
    font-size: 48px !important;
    font-weight: var(--font-weight-logo);
    line-height: 2.25rem;
    margin: 0.125rem 0 0 0;
    transition: all var(--theme-change-delay) ease-in;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}
