#logo {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    outline: 0;
}

#logo:hover {
    cursor: pointer;
}

.logo-image {
    margin: 0 0 0.5rem 0;
    position: absolute;
    transition: all var(--theme-delay);
}

#logo-text {
    color: var(--color-text) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-text) !important;
    font-weight: var(--font-weight-logo);
    transition: color var(--theme-delay);
    transform: rotate(-90deg);
}

#title-top, #title-bottom {
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
}

#title-top {
    margin-bottom: -0.625rem;
}

#title-bottom {
    margin-top: -0.75rem;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}
